<!DOCTYPE html>
<html lang="ko">
@@include('../src/pages/ko/includes/guide/head.html', {title: '아코디언 가이드 - Hwawoo'});

<body>
    <div id="wsg-wrap" class="wsg">
        <header class="wsg-header">
            <h1><a href="javascript:void(0);"><img src="../../../status/assets/ci.svg" alt=""></a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="../../../status/iaList_ko.html">국문 IA 목록</a></li>
                    <li><a href="../../../status/iaList_en.html">영문 IA 목록</a></li>
                    <li><a href="../../../status/iaList_ch.html">중문 IA 목록</a></li>
                    <li><a href="../../../status/iaList_jp.html">일문 IA 목록</a></li>
                    <li><a href="../../../status/iaList_gr.html">독문 IA 목록</a></li>
                    <li class=""><a href="../layouts/layout.html">레이아웃</a></li>
                    <li class="on"><a href="../components/components.html">컴포넌트</a></li>
                </ul>
            </nav>
        </header>
        <ul class="guideSubmenu">
            <li><a href="./wsg.html">WSG</a></li>
            <li><a href="./button.html">버튼</a></li>
            <li><a href="./form.html">폼요소</a></li>
            <li><a href="./layerpopup.html">레이어팝업</a></li>
            <li><a href="./tab.html">탭</a></li>
            <li><a href="./accordion.html" class="guideOn">아코디언</a></li>
            <li><a href="./slider.html">슬라이더</a></li>
            <li><a href="./board.html">게시판</a></li>
            <!-- <li><a href="./table.html">테이블</a></li> -->
        </ul>

        <div class="guideContainer">
            <section class="sample">
                <h2 class="sampleTitle">Accordion</h2>
                <div class="sampleContent">

                    <ul class="accordion-list">
                        <li>
                            <div class="accordion-tit">
                                <button type="button" class="btn-accordion">부당공동행위(카르텔)</button>
                            </div>
                            <div class="accordion-txt">
                                <span>
                                    화우의 공정거래팀은 고객들에게 카르텔 예방을 위한 다양한 프로그램을 제공하는 것은 물론 공정거래위원회 <br class="pc">조사 이전 단계에서부터 조사 및 의결절차, 이의신청 및 행정소송에 있어서 탁월한 업무성과들을 보유하고 있습니다.
                                </span>
                                <span>
                                    사업자의 자진신고(Leniency)를 통한 전략적 대응방안을 수립하고 진행함에 있어서 다양하고 풍부한 경험을 가지고 있고, 다국적 사업자들 간의 <br class="pc">국제카르텔 사건들에 관한 자문을 제공함에 있어서도 유수의 외국 로펌들과 긴밀하게 연계하여 다국적 사업자들의 권익 보호에 있어 뛰어난 업무성과들을 축적하여 왔습니다.
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-tit">
                                <button type="button" class="btn-accordion">시장지배적지위남용</button>
                            </div>
                            <div class="accordion-txt">
                                <span>
                                    화우의 공정거래팀은 가장 난해하고 복잡한 이슈들을 가진 다양한 유형의 시장지배적 지위 남용행위 관련 사건들에서 고객들을 성공적으로 대리해 왔으며, 관련 사건들을 수행함에 있어 세계적인 경쟁법 전문가들 및 경제•산업 전문가들과 첨단의 지식 및 숙련된 노하우를 공유하면서 고객에게 최적의 결과를 도출하고 있고, 그에 따라 다양한 법률자문을 통하여 방대한 경험과 지식을 구축해 가고 있습니다.
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-tit">
                                <button type="button" class="btn-accordion">기업결합</button>
                            </div>
                            <div class="accordion-txt">
                                <span>
                                    화우의 공정거래팀은 주식취득, 임원겸임, 합병, 영업양수 및 새로운 회사설립에의 참여 등 다양한 형태로 발생하는 기업 간 인수합병에 있어서 기업결합신고를 위한 준비작업부터 기업결합에 대한 공정거래위원회의 승인을 취득하거나, 부당한 시정명령이 부과되는 경우 이의신청 및 행정소송 절차의 대리에 이르기까지 기업결합 전 과정에서 발생하는 고객들의 법률자문수요에 대응하면서 축적된 다양한 경험과 뛰어난 성과들을 보유하고 있습니다.
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-tit">
                                <button type="button" class="btn-accordion">불공정거래행위</button>
                            </div>
                            <div class="accordion-txt">
                                <span>
                                    화우의 공정거래팀은 거래거절, 차별적 취급, 경쟁사업자 배제, 부당한 고객유인, 거래강제, 거래상지위 남용, 구속조건부거래, 사업활동방해 및 부당지원 등 다양한 형태의 불공정거래행위가 발생할 수 있는 리스크를 체계적으로 관리하는데 필요한 가이드라인을 제공하고, 사건발생시 소송을 포함하여 효율적인 대응 및 방어가 가능하도록 심도 깊은 법률자문을 제공합니다.
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-tit">
                                <button type="button" class="btn-accordion">기업집단 규제 및 지주회사</button>
                            </div>
                            <div class="accordion-txt">
                                <span>
                                    화우의 공정거래팀은 고객들에게 카르텔 예방을 위한 다양한 프로그램을 제공하는 것은 물론 공정거래위원회 조사 이전 단계에서부터 조사 및 의결절차, 이의신청 및 행정소송에 있어서 탁월한 업무성과들을 보유하고 있습니다.
                                </span>
                                <span>
                                    또한, 사업자의 자진신고(Leniency)를 통한 전략적 대응방안을 수립하고 진행함에 있어서 다양하고 풍부한 경험을 가지고 있고, 다국적 사업자들 간의 국제카르텔 사건들에 관한 자문을 제공함에 있어서도 유수의 외국 로펌들과 긴밀하게 연계하여 다국적 사업자들의 권익 보호에 있어 뛰어난 업무성과들을 축적하여 왔습니다.
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-tit">
                                <button type="button" class="btn-accordion">공정거래 관련 소송(손해배상청구/행정/형사)</button>
                            </div>
                            <div class="accordion-txt">
                                <span>
                                    화우의 공정거래팀은 공정거래법 위반행위에 대한 공정거래위원회의 결정에 불복하는 행정소송을 제기하거나 이러한 위반행위가 별도의 민사상 손해배상청구 내지 형사고발 등에 의해 소송의 대상이 되는 경우의 소송절차를 다양하게 수행하고 있습니다.
                                </span>
                                <span>
                                    화우는 정치한 경제분석, 다양한 도표 및 통계들을 사용하는 효과적인 프리젠테이션을 통해 각종 소송절차에서 고객에게 각종 불이익이 부당하게 전가되지 않도록 최선의 노력을 기울이고 있습니다.
                                </span>
                            </div>
                        </li>
                    </ul>

                    <div class="description">
                        <h3>MARKUP</h3>
                        <pre>
&lt;ul class="accordion-list"&gt;
    &lt;li&gt;
        &lt;div class="accordion-tit"&gt;
            &lt;button type="button" class="btn-accordion"&gt;부당공동행위(카르텔)&lt;/button&gt;
        &lt;/div&gt;
        &lt;div class="accordion-txt"&gt;
            &lt;span&gt;
                화우의 공정거래팀은 고객들에게 카르텔 예방을 위한 다양한 프로그램을 제공하는 것은 물론 공정거래위원회 &lt;br class="pc"&gt;조사 이전 단계에서부터 조사 및 의결절차, 이의신청 및 행정소송에 있어서 탁월한 업무성과들을 보유하고 있습니다.
            &lt;/span&gt;
            &lt;span&gt;
                사업자의 자진신고(Leniency)를 통한 전략적 대응방안을 수립하고 진행함에 있어서 다양하고 풍부한 경험을 가지고 있고, 다국적 사업자들 간의 &lt;br class="pc"&gt;국제카르텔 사건들에 관한 자문을 제공함에 있어서도 유수의 외국 로펌들과 긴밀하게 연계하여 다국적 사업자들의 권익 보호에 있어 뛰어난 업무성과들을 축적하여 왔습니다.
            &lt;/span&gt;
        &lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;
                        </pre>
                    </div>
                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">Accordion ty02</h2>
                <div class="sampleContent">
                    <ul class="accordion-list ty02">
                        <li>
                            <div class="accordion-tit">
                                <button type="button">공정거래</button>
                            </div>
                            <div class="accordion-txt">
                                <ul>
                                    <li><a href="#">부당공동행위</a></li>
                                    <li><a href="#">기업결합</a></li>
                                    <li><a href="#">시장지배적지위남용</a></li>
                                    <li><a href="#">불공정거래</a></li>
                                    <li><a href="#">내부거래</a></li>
                                    <li><a href="#">기업집단규제 ∙ 지주회사</a></li>
                                    <li><a href="#">하도급</a></li>
                                    <li><a href="#">유통</a></li>
                                    <li><a href="#">약관규제 ∙ 표시광고</a></li>
                                    <li><a href="#">소비자보호</a></li>
                                    <li><a href="#">공정거래분쟁</a></li>
                                    <li><a href="#">공정거래 컴플라이언스</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-tit">
                                <button type="button">형사</button>
                            </div>
                            <div class="accordion-txt">
                                <ul>
                                    <li><a href="#">기업일반</a></li>
                                    <li><a href="#">금융</a></li>
                                    <li><a href="#">조세 ∙ 관세 ∙ 외환</a></li>
                                    <li><a href="#">공정거래</a></li>
                                    <li><a href="#">제약 ∙ 의료 ∙ 식품</a></li>
                                    <li><a href="#">지식재산</a></li>
                                    <li><a href="#">건설 ∙ 부동산</a></li>
                                    <li><a href="#">환경</a></li>
                                    <li><a href="#">선거 ∙ 노동</a></li>
                                    <li><a href="#">형사 컴플라이언스</a></li>
                                    <li><a href="#">디지털포렌식</a></li>
                                    <li><a href="#">산업안전 ∙ 중대재해</a></li>
                                    <li><a href="#">형사공판</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-tit">
                                <button type="button">조세</button>
                            </div>
                            <div class="accordion-txt">
                                <ul>
                                    <li><a href="#">조세자문 ∙ 조세전략</a></li>
                                    <li><a href="#">사전진단 ∙ 세무조사</a></li>
                                    <li><a href="#">조세심판</a></li>
                                    <li><a href="#">조세소송</a></li>
                                    <li><a href="#">국제조세 ∙ 이전가격</a></li>
                                    <li><a href="#">조세형사</a></li>
                                    <li><a href="#">세무신고 ∙ 아웃소싱</a></li>
                                    <li><a href="#">가업승계</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="accordion-tit">
                                <button type="button">관세 및 국제통상</button>
                            </div>
                            <div class="accordion-txt">
                                <ul>
                                    <li><a href="#">관세심사 ∙ 관세조사</a></li>
                                    <li><a href="#">외환조사 ∙ 외환검사</a></li>
                                    <li><a href="#">관세불복 ∙ 유권해석</a></li>
                                    <li><a href="#">이전가격 자문 ∙ 전략 수립</a></li>
                                    <li><a href="#">FTA ∙ 무역통상 자문</a></li>
                                    <li><a href="#">품목분류 자문</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </div>

    </div>

    <!-- SCRIPT IMPORT -->
    @@include('../src/pages/ko/includes/scriptImport.html', {pageMain : false,})
</body>

</html>