@charset "UTF-8";

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-style:normal;
	src: url('/assets/css/webfonts/Pretendard-Regular.woff2') format('woff2'),
		url('/assets/css/webfonts/Pretendard-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-style:normal;
	src: url('/assets/css/webfonts/Pretendard-Medium.woff2') format('woff2'),
	url('/assets/css/webfonts/Pretendard-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-style:normal;
	src: url('/assets/css/webfonts/Pretendard-Bold.woff2') format('woff2'),
	url('/assets/css/webfonts/Pretendard-Bold.woff') format('woff');
}