@charset "UTF-8";

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin:0; 
  padding:0;
  border:0;
  vertical-align:middle;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
img {
    max-width: 100%;
    vertical-align: top;
}
ol, ul, li{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{ 
    content: '';
    content: none;
}
a *{
    cursor: pointer;
}
a, a:focus{
    color:inherit; 
    text-decoration:none;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
}
th,
td {
    vertical-align: middle;
    word-wrap: break-word;
}
caption {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
textarea{
    resize:none;
    font-family: "Pretendard", "맑은 고딕", "돋음", dotum, sans-serif;
}
form {
    margin: 0;
    padding: 0;
}
input{
    -webkit-appearance:none; 
    appearance:none; 
    border-radius:0px;
    font-family: "Pretendard", "맑은 고딕", "돋음", dotum, sans-serif;
    background: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    font-family: "Pretendard", "맑은 고딕", "돋음", dotum, sans-serif;
}
select::-ms-expand {
    display: none;
}
option {
    outline: 0;
}
// input::-webkit-search-cancel-button {
//     display: none;
// }
button{ 
    margin:0; 
    padding:0; 
    border:0; 
    background:0; 
    -webkit-appearance:none; 
    outline:none;
    cursor: pointer;
    font-family: "Pretendard", "맑은 고딕", "돋음", dotum, sans-serif;
}
pre { white-space:pre-wrap; }
sup { vertical-align:super; font-size:0.5em;}
strong{
    font-weight: normal;
}
address, i{
    font-style: normal;
}
/* skip nav */
#navSkip {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 999;

    a {
        position: absolute;
        overflow: hidden;
        width: 0;
        height: 0;
        line-height: 1;

        &:hover,
        &:focus,
        &:active {
            display: block;
            z-index: 10;
            padding: 10px;
            width: 100%;
            height: auto;
            background: #333;
            color: #fff;
        }
    }
}
.hidden{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    transform: scale(0);
}