@charset "UTF-8";

// Colors
// grayscale
$white : #FFFFFF;
$gray1: #F8F8F8;
$gray2: #eeeeee;
$gray3: #dddddd;
$gray4: #bbbbbb;
$gray5: #999999;
$gray6: #666666;
$gray7: #333333;
$gray8: #111111;

// accent
$accent: #25867D;

// primary
$green1: #E7F5F4;
$green2: #90B7B3;
$green3: #6C918E;
$green4: #527773;
$green5: #274b48;
$green6: #002321;

// secondary
$grayGreen1: #F5FAF8;
$grayGreen2: #EEF5F2;
$grayGreen3: #d7eae1;
$grayGreen4: #4D936B;
$grayGreen5: #326F5E;

// error
$error: #ff5442;