<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>component | accordion</title>
        <link rel="stylesheet" href="/assets/css/common.css">
        <link rel="stylesheet" href="/assets/css/contents.css">
    </head>
    <body class="chn">

        <div class="accordion-wrap">
            <ul class="accordion-list">
                <li class="accordion__items">
                    <a href="javascript:void(0)" class="accordion__items__title">
                        <div>기존화학물질 사전신고 톤수 산정 기준</div>
                    </a>
                    <div class="accordion__items__conts">
                        <div class="accordion__items-inner">
                            내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                        </div>
                    </div>
                </li>
                <li class="accordion__items">
                    <a href="javascript:void(0)" class="accordion__items__title">
                        <div>영업비밀의 이유로 정보를 제공하지 않을 경우 정보 제공을 요구할 수 있는 법적 근거</div>
                    </a>
                    <div class="accordion__items__conts">
                        <div class="accordion__items-inner">
                            내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                        </div>
                    </div>
                </li> 
                <li class="accordion__items">
                    <a href="javascript:void(0)" class="accordion__items__title">
                        <div>기화평법에 따른 사전신고 및 등록시 연간 톤수 산정기준에 톤수 기준이 실제 제 조·수입량인지, 아니면 화학물질확인명세서나 확인증명서상에 신고된 톤수인지 궁금합니다.</div>
                    </a>
                    <div class="accordion__items__conts">
                        <div class="accordion__items-inner">
                            내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
                        </div>
                    </div>
                </li>                                                                                 
            </ul>
        </div>
        <script src="/assets/js/lib/jquery.import.js"></script>
    </body>
</html>