<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>component | button</title>
        <link rel="stylesheet" href="/assets/css/common.css">
        <link rel="stylesheet" href="/assets/css/contents.css">
    </head>
    <body class="chn">
        <div class="board-list-conts">
            <div class="board-wrap">
                <ul class="board-list">
                    <li class="board-list__item">
                        <a href="javascript:void(0)">
                            <span class="board-num">1</span>
                            <p class="board-title">(보도자료) 민관 손잡고 화학물질저감 우수제품 11개 선정</p>
                            <span class="board-num board-date">2020.07.21</span>
                        </a>
                    </li>
                    <li class="board-list__item">
                        <a href="javascript:void(0)">
                            <span class="board-num">10</span>
                            <p class="board-title">[보도자료 설명] 코로나19 방역용 소독제는 유해성 기준에 따라
                                승인되며, 소독제의 안전사용을 위해
                                지속적으로 안내·홍보 및 관리 중</p>
                            <span class="board-num board-date">2020.07.21</span>
                        </a>
                    </li>
                    <li class="board-list__item">
                        <a href="javascript:void(0)">
                            <span class="board-num">100</span>
                            <p class="board-title">기존화학물질 사전(변경)신고 결과 공지(21.06.30ver) –
                                8차</p>
                            <span class="board-num board-date">2020.07.21</span>
                        </a>
                    </li>
                    <li class="board-list__item">
                        <a href="javascript:void(0)">
                            <span class="board-num">1,000</span>
                            <p class="board-title">2021 유해성시험자료 생산지원사업(정부생산방식) 선정결과 안내
                            </p>
                            <span class="board-num board-date">2020.07.21</span>
                        </a>
                    </li>
                    <li class="board-list__item">
                        <a href="javascript:void(0)">
                            <span class="board-num">1,073</span>
                            <p class="board-title">화학물질관리법 시행령 일부개정령(대통령령 제32128호)</p>
                            <span class="board-num board-date">2020.07.21</span>
                        </a>
                    </li>
                    <li class="board-list__item">
                        <a href="javascript:void(0)">
                            <span class="board-num">1,073</span>
                            <p class="board-title">화학물질의 등록 및 평가 등에 관한 법률 시행령 일부개정령(대통령령
                                제32061호)</p>
                            <span class="board-num board-date">2020.07.21</span>
                        </a>
                    </li>
                    <li class="board-list__item">
                        <a href="javascript:void(0)">
                            <span class="board-num">1,073</span>
                            <p class="board-title">유독물질의 지정고시 일부개정 행정예고(국립환경과학원공고
                                제2021-445호)</p>
                            <span class="board-num board-date">2020.07.21</span>
                        </a>
                    </li>
                    <li class="board-list__item">
                        <a href="javascript:void(0)">
                            <span class="board-num">1,073</span>
                            <p class="board-title">유해화학물질 소량 취급시설에 관한 고시 일부개정(화학물질안전원고시
                                제2021-5호)</p>
                            <span class="board-num board-date">2020.07.21</span>
                        </a>
                    </li>
                    <li class="board-list__item">
                        <a href="javascript:void(0)">
                            <span class="board-num">1,073</span>
                            <p class="board-title">화학물질의 유해성심사결과 고시 일부개정(안)
                                행정예고(국립환경과학원공고 제2021-475호)</p>
                            <span class="board-num board-date">2020.07.21</span>
                        </a>
                    </li>
                    <li class="board-list__item">
                        <a href="javascript:void(0)">
                            <span class="board-num">1,073</span>
                            <p class="board-title">화학물질관리법 시행규칙 일부개정령(환경부령제671호)</p>
                            <span class="board-num board-date">2020.07.21</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="paging-wrap">
                <a href="javascript:void(0)" class="btn-arr first"><span class="hidden">첫번째 페이지로 이동</span></a>
                <a href="javascript:void(0)" class="btn-arr prev"><span class="hidden">이전 페이지로 이동</span></a>
                <ul class="paging-list">
                    <!-- 활성화 시 active 클래스 추가 -->
                    <li class="paging-list__item"><a href="javascript:void(0)" class="active">1</a></li>
                    <li class="paging-list__item"><a href="javascript:void(0)">2</a>
                    </li>
                    <li class="paging-list__item"><a href="javascript:void(0)">3</a>
                    </li>
                    <li class="paging-list__item"><a href="javascript:void(0)">4</a>
                    </li>
                    <li class="paging-list__item"><a href="javascript:void(0)">5</a>
                    </li>
                </ul>
                <a href="javascript:void(0)" class="btn-arr next"><span class="hidden">다음 페이지로 이동</span></a>
                <a href="javascript:void(0)" class="btn-arr last"><span class="hidden">마지막 페이지로 이동</span></a>
            </div>                               
        </div>
        <script src="/assets/js/lib/jquery.import.js"></script>
    </body>
</html>