<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>component</title>
        <link rel="stylesheet" href="/assets/css/common.css">
        <link rel="stylesheet" href="/assets/css/contents.css">
        <style>
        .componentwrap{width:100%; display:flex; flex-wrap: wrap;}
        .component-conts{flex:0 0 33.3333%; padding:20px;}
        .component-conts__title{font-size:2rem; font-weight:700;}
        .component-conts__link>a{text-decoration:underline; color:#274b48;}
        .component-conts iframe{width:100%; height:500px; border:1px solid #000; margin-top:20px;}
        </style>
    </head>
    <body class="chn">
        <div class="componentwrap">
            <div class="component-conts">
                <div class="component-conts__title">button</div>
                <div class="component-conts__link"><a href="/pages/cn/layout/button.html" target="_blank">/pages/cn/layout/button.html</a></div>
                <iframe src="/pages/cn/layout/button.html" frameborder="0" scrolling=""></iframe>
            </div>
            <div class="component-conts">
                <div class="component-conts__title">accordion</div>
                <div class="component-conts__link"><a href="/pages/cn/layout/accordion.html" target="_blank">/pages/cn/layout/accordion.html</a></div>
                <iframe src="/pages/cn/layout/accordion.html" frameborder="0" scrolling=""></iframe>
            </div>
            <div class="component-conts">
                <div class="component-conts__title">tab menu</div>
                <div class="component-conts__link"><a href="/pages/cn/layout/tabmenu.html" target="_blank">/pages/cn/layout/tabmenu.html</a></div>
                <iframe src="/pages/cn/layout/tabmenu.html" frameborder="0" scrolling=""></iframe>
            </div>
            <div class="component-conts">
                <div class="component-conts__title">board</div>
                <div class="component-conts__link"><a href="/pages/cn/layout/board.html" target="_blank">/pages/cn/layout/board.html</a></div>
                <iframe src="/pages/cn/layout/board.html" frameborder="0" scrolling=""></iframe>
            </div>
            <div class="component-conts">
                <div class="component-conts__title"></div>
                <div class="component-conts__link"><a href="/pages/cn/layout/list.html" target="_blank">/pages/cn/layout/list.html</a></div>
                <iframe src="/pages/cn/layout/list.html" frameborder="0" scrolling=""></iframe>
            </div>
            <div class="component-conts">
                <div class="component-conts__title"></div>
                <div class="component-conts__link"><a href="/pages/cn/layout/popup.html" target="_blank">/pages/cn/layout/popup.html</a></div>
                <iframe src="/pages/cn/layout/popup.html" frameborder="0" scrolling=""></iframe>
            </div>
        </div>
    </body>
</html>