<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>component | button</title>
        <link rel="stylesheet" href="/assets/css/common.css">
        <link rel="stylesheet" href="/assets/css/contents.css">
    </head>
    <body class="chn">
        <div style="padding:20px;">
            <ul class="conts-list type1">
                <li class="conts-list__items">
                    <a href="javascript:void(0)" title="자세히 보기" class="linkArea">
                        <div class="num">01.</div>
                        <div class="title">화평법</div>                                     
                    </a>   
                    <div class="textArea">
                        국내 화학물질 관련 사업에 필수적인 화평법에
                        따른 등록 준비부터 등록유지관리까지
                        관련 서비스를 제공합니다.
                    </div>
                    <div class="imageArea">
                        <img src="/assets/images/contents/ico_field_01_120.svg" title="">
                    </div>                              
                </li>
                <li class="conts-list__items">
                    <a href="javascript:void(0)" title="자세히 보기" class="linkArea">
                        <div class="num">02.</div>
                        <div class="title">화관법</div>
                    </a>
                    <div class="textArea">
                        화학사업장의 유해화학물질 취급과 관련된
                        규제에 대한 컨설팅을 제공합니다.
                    </div>
                    <div class="imageArea">
                        <img src="/assets/images/contents/ico_field_02_120.svg" title="">
                    </div>   
                </li>
                <li class="conts-list__items">
                    <a href="javascript:void(0)" title="자세히 보기" class="linkArea">
                        <div class="num">03.</div>
                        <div class="title">화학제품안전법</div>
                    </a>
                    <div class="textArea">
                        살생물제 및 생활화학제품 취급 시 적용되는
                        규제에 대한 컨설팅을 제공합니다.
                    </div>
                    <div class="imageArea">
                        <img src="/assets/images/contents/ico_field_03_120.svg" title="">
                    </div>   
                </li>
                <li class="conts-list__items">
                    <a href="javascript:void(0)" title="자세히 보기" class="linkArea">
                        <div class="num">04.</div>
                        <div class="title">국외화학물질</div>
                    </a>
                    <div class="textArea">
                        다년간의 풍부한 경험과 전문성을 토대로
                        국외에서 요구되는 화학물질 규제에 대한
                        컨설팅을 제공합니다.
                    </div>
                    <div class="imageArea">
                        <img src="/assets/images/contents/ico_field_04_120.svg" title="">
                    </div>   
                </li>
                <li class="conts-list__items">
                    <a href="javascript:void(0)" title="자세히 보기" class="linkArea">
                        <div class="num">05.</div>
                        <div class="title">GHS/CLP/SDS</div>
                    </a>
                    <div class="textArea">
                        UN GHS, EU CLP에 따른 국내외용
                        (M)SDS 작성, 번역, 개정 등에 관한
                        컨설팅을 제공합니다.
                    </div>
                    <div class="imageArea">
                        <img src="/assets/images/contents/ico_field_05_120.svg" title="">
                    </div>   
                </li>
            </ul>
        </div>
        <br><br>
        <div style="padding:20px">
            <ul class="conts-list type2">
                <li class="conts-list__items">
                    <div>화평법</div>
                    <div>02-6714-1091</div>
                </li>
                <li class="conts-list__items">
                    <div>화관법</div>
                    <div>02-6714-1042</div>
                </li>
                <li class="conts-list__items">
                    <div>화학제품안전법</div>
                    <div>02-6714-1011</div>
                </li>
                <li class="conts-list__items">
                    <div>국외물질규제</div>
                    <div>02-6714-1129</div>
                </li>
                <li class="conts-list__items">
                    <div>GHS/CLP/SDS</div>
                    <div>02-6714-1148</div>
                </li>
            </ul>
        </div>
        <div style="padding:20px">
            <ul class="list-dot">
                <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
            </ul>
        </div>
        <div style="padding:20px">
            <ul class="list-dash">
                <li class="list-dash__items">새로이 대상이 되는 물질</li>
                <li class="list-dash__items">15년 이전 제조ㆍ수입 이력이 있었던 물질</li>
                <li class="list-dash__items"> 공정에 따라 주기적 또는 비정기적으로 제조ㆍ수입되는 물질</li>
            </ul>
        </div>
        <div style="padding:20px">
            <ol class="conts-list type3">
                <li class="conts-list__items">
                    <div class="num">01.</div>
                    <div class="image"><img src="/assets/images/common/ico_bf_01.svg" alt=""></div>
                    <div class="title">대상<br>확인</div>
                    <div class="conts">
                        <div>연간 1톤 이상<br>제조ㆍ수입 여부 확인</div>
                        <div>기존화학물질 여부 확인</div>
                    </div>
                </li>
                <li class="conts-list__items">
                    <div class="num">02.</div>
                    <div class="image"><img src="/assets/images/common/ico_bf_02.svg" alt=""></div>
                    <div class="title">신고서 작성<br>및 제출</div>
                    <div class="conts">
                        <div class="list-term">화학물질 정보처리시스템</div>
                        <div>신청 내용 작성 후 제출</div>
                    </div>
                </li>
                <li class="conts-list__items">
                    <div class="num">03.</div>
                    <div class="image"><img src="/assets/images/common/ico_bf_03.svg" alt=""></div>
                    <div class="title">사후<br>관리</div>
                    <div class="conts">
                        <div class="list-term">변경사항 발생 시<br>변경 신고</div>
                        <div>
                            <ul class="list-dot">
                                <li class="list-dot__items">상호, 소재지 및 연락처</li>
                                <li class="list-dot__items">화학물질의 명칭, 연간 제조ㆍ수입량, 분류ㆍ표시 및 용도</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <br><br>
        <div style="pading:20px">
            <ul class="conts-list type4">
                <li class="conts-list__items">
                    <a href="javascript:void(0)" onclick="uiCommon.popup.open('.popup-confirm')">기존화학물질 사전신고 컨설팅(제조, 수입량 검토)</a>
                </li>
                <li class="conts-list__items">
                    <a href="javascript:void(0)" onclick="">유일 대리인(Only Representative) 서비스</a>
                </li>
                <li class="conts-list__items">
                    <a href="javascript:void(0)" onclick="">기존화학물질 사전신고 사후관리</a>
                </li>
            </ul>
        </div>
    </body>
</html>