<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>component | button</title>
        <link rel="stylesheet" href="/assets/css/common.css">
        <link rel="stylesheet" href="/assets/css/contents.css">
    </head>
    <body class="chn">
        <div style="padding:20px;">
            <!-- popup -->
            <div class="popup popup-confirm" style="display:block;"><!-- popup name 추가 ex)popup-confirm -->
                <div class="popup__wrap popup__wrap-type1">
                    <div class="popup__title">기존화학물질 사전신고 컨설팅</div>
                    <div class="popup__conts">
                        <ul class="list-dot">
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토 start</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토end end</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토end end</li>
                            <li class="list-dot__items">제품 물질 정보 정리를 위한 인벤토리 작성 및 취급량 검토end end</li>
                        </ul>
                    </div>
                    <div class="btn-wrap">
                        <button class="btns popup__close">확인</button>
                    </div>
                </div>
            </div>
            <!--// popup -->
        </div>  
        <div class="dimmed"></div>    
    </body>
</html>