/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: _variables.scss
* @Description : 변수 정의
* @Create Date: 2022-02-16
* @Update Date: N/A
* @History: N/A
* ================================================================================= */

// Vendor
$vendors: webkit, moz, ms, o;

// Color
$black: #161616;
$red: #FA5252;
$red2: #FFF3F3;