<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>component | button</title>
        <link rel="stylesheet" href="/assets/css/common.css">
        <link rel="stylesheet" href="/assets/css/contents.css">
    </head>
    <body>
        <ul class="tab-list">
            <!-- 활성화 시 on 클래스 추가 -->
            <li class="tab-list__item"><a href="javascript:void(0)" class="on">전체</a></li>
            <li class="tab-list__item"><a href="javascript:void(0)">시행규칙</a></li>
            <li class="tab-list__item"><a href="javascript:void(0)">고시</a></li>
            <li class="tab-list__item"><a href="javascript:void(0)">개정 법률안</a></li>
            <li class="tab-list__item"><a href="javascript:void(0)">입법,행정예고</a></li>
            <li class="tab-list__item"><a href="javascript:void(0)">법령</a></li>
        </ul>
        <script src="/assets/js/lib/jquery.import.js"></script>
    </body>
</html>