<!DOCTYPE html>
<html lang="en">
    @@include('../src/pages/en/includes/guide/head.html', {title: '슬라이더 가이드 - Hwawoo'});

    <body>
        <div id="wsg-wrap" class="wsg">
            <header class="wsg-header">
                <h1>
                    <a href="javascript:void(0);"><img src="../../../status/assets/ci.svg" alt="" /></a>
                </h1>
                <nav id="nav">
                    <ul>
                        <li><a href="../../../status/iaList_ko.html">국문 IA 목록</a></li>
                        <li><a href="../../../status/iaList_en.html">영문 IA 목록</a></li>
                        <li><a href="../../../status/iaList_ch.html">중문 IA 목록</a></li>
                        <li><a href="../../../status/iaList_jp.html">일문 IA 목록</a></li>
                        <li><a href="../../../status/iaList_gr.html">독문 IA 목록</a></li>
                        <li class=""><a href="../layouts/layout.html">레이아웃</a></li>
                        <li class="on"><a href="../components/components.html">컴포넌트</a></li>
                    </ul>
                </nav>
            </header>
            <ul class="guideSubmenu">
                <li><a href="./wsg.html">WSG</a></li>
                <li><a href="./button.html">버튼</a></li>
                <li><a href="./form.html">폼요소</a></li>
                <li><a href="./layerpopup.html">레이어팝업</a></li>
                <li><a href="./tab.html">탭</a></li>
                <li><a href="./accordion.html">아코디언</a></li>
                <li><a href="./slider.html" class="guideOn">슬라이더</a></li>
                <li><a href="./board.html">게시판</a></li>
                <!-- <li><a href="./table.html">테이블</a></li> -->
            </ul>

            <div class="guideContainer">
                <section class="sample">
                    <h2 class="sampleTitle">Slick</h2>

                    <!--내용-->
                    <div class="slider-wrap">
                        <div class="slider-list">
                            <div><img src="../../../assets/en/images/main/arti0701.png" alt="" /></div>
                            <div><img src="../../../assets/en/images/main/arti0702.png" alt="" /></div>
                            <div><img src="../../../assets/en/images/main/arti0703.png" alt="" /></div>
                            <div><img src="../../../assets/en/images/main/arti0704.png" alt="" /></div>
                        </div>
                    </div>

                    <div class="description">
                        <h3>GUIDE</h3>
                        <p>
                            슬라이더 플러그인은 Slick을 사용하며,<br />
                            마크업 구조는 slider-wrap 안에 지정할 슬릭 target을 놓는 구조이다.<br />
                            <strong>열기</strong> : uiCommon.slick.init 함수를 호출하면서 첫번째 매개변수로 target의 jquery 객체와 두번째 매개변수로
                            slick 옵션을 객체로 넘기면 된다. <br />

                            ex) uiCommon.slick.init($('.slider-list'), { infinite: false, speed: 500, slidesToShow: 4, dots: false, });
                        </p>
                        <h3>MARKUP</h3>
                        <pre>
&lt;div class="slider-wrap"&gt;
    &lt;div class="slider-list"&gt;
        &lt;div&gt;&lt;a href="#"&gt;&lt;img src="../../../assets/web/images/temp/slick-test.jpg" alt=""&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </pre
                        >
                    </div>
                </section>
                <section class="sample">
                    <h2 class="sampleTitle">Swiper</h2>

                    <!--내용-->
                    <div class="slider-wrap">
                        <div class="slider-lawyer list-lawyer">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide box-info-lawyer">
                                    <a href="#">
                                        <div class="thumbnail">
                                            <img src="../../../assets/en/images/temp/profile01.jpg" alt="" />
                                        </div>
                                        <div class="info">
                                            <strong class="name">Hoil Yoon</strong>
                                            <span class="grade">Managing Partner</span>
                                            <ul class="contact">
                                                <li>
                                                    <em>T.</em>
                                                    <span class="tel">(+82) 2 6003 8582</span>
                                                </li>
                                                <li>
                                                    <em>E.</em>
                                                    <span class="email">mskwak@hwawoo.com</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide box-info-lawyer">
                                    <a href="#">
                                        <div class="thumbnail">
                                            <img src="../../../assets/en/images/temp/profile02.jpg" alt="" />
                                        </div>
                                        <div class="info">
                                            <strong class="name">김성식</strong>
                                            <span class="grade">변호사</span>
                                            <ul class="contact">
                                                <li>
                                                    <em>T.</em>
                                                    <span class="tel">(+82) 2 6003 8582</span>
                                                </li>
                                                <li>
                                                    <em>E.</em>
                                                    <span class="email">mskwak@hwawoo.com</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide box-info-lawyer">
                                    <a href="#">
                                        <div class="thumbnail">
                                            <img src="../../../assets/en/images/temp/profile03.jpg" alt="" />
                                        </div>
                                        <div class="info">
                                            <strong class="name">김재영</strong>
                                            <span class="grade">변호사</span>
                                            <ul class="contact">
                                                <li>
                                                    <em>T.</em>
                                                    <span class="tel">(+82) 2 6003 8582</span>
                                                </li>
                                                <li>
                                                    <em>E.</em>
                                                    <span class="email">mskwak@hwawoo.com</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide box-info-lawyer">
                                    <a href="#">
                                        <div class="thumbnail">
                                            <img src="../../../assets/en/images/temp/profile02.jpg" alt="" />
                                        </div>
                                        <div class="info">
                                            <strong class="name">김철호</strong>
                                            <span class="grade">변호사</span>
                                            <ul class="contact">
                                                <li>
                                                    <em>T.</em>
                                                    <span class="tel">(+82) 2 6003 8582</span>
                                                </li>
                                                <li>
                                                    <em>E.</em>
                                                    <span class="email">mskwak@hwawoo.com</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide box-info-lawyer">
                                    <a href="#">
                                        <div class="thumbnail">
                                            <img src="../../../assets/en/images/temp/profile01.jpg" alt="" />
                                        </div>
                                        <div class="info">
                                            <strong class="name">Hoil Yoon</strong>
                                            <span class="grade">Managing Partner</span>
                                            <ul class="contact">
                                                <li>
                                                    <em>T.</em>
                                                    <span class="tel">(+82) 2 6003 8582</span>
                                                </li>
                                                <li>
                                                    <em>E.</em>
                                                    <span class="email">mskwak@hwawoo.com</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide box-info-lawyer">
                                    <a href="#">
                                        <div class="thumbnail">
                                            <img src="../../../assets/en/images/temp/profile02.jpg" alt="" />
                                        </div>
                                        <div class="info">
                                            <strong class="name">김성식</strong>
                                            <span class="grade">변호사</span>
                                            <ul class="contact">
                                                <li>
                                                    <em>T.</em>
                                                    <span class="tel">(+82) 2 6003 8582</span>
                                                </li>
                                                <li>
                                                    <em>E.</em>
                                                    <span class="email">mskwak@hwawoo.com</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide box-info-lawyer">
                                    <a href="#">
                                        <div class="thumbnail">
                                            <img src="../../../assets/en/images/temp/profile03.jpg" alt="" />
                                        </div>
                                        <div class="info">
                                            <strong class="name">김재영</strong>
                                            <span class="grade">변호사</span>
                                            <ul class="contact">
                                                <li>
                                                    <em>T.</em>
                                                    <span class="tel">(+82) 2 6003 8582</span>
                                                </li>
                                                <li>
                                                    <em>E.</em>
                                                    <span class="email">mskwak@hwawoo.com</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-drag-scroll">
                                <div class="swiper-scrollbar"></div>
                            </div>
                        </div>
                    </div>

                    <div class="description">
                        <h3>GUIDE</h3>
                        <p>
                            마크업 구조는 slider-wrap 안에 지정할 스와이퍼 target을 놓는 구조이다.<br />
                            <strong>열기</strong> : uiCommon.swiper.init 함수를 호출하면서 첫번째 매개변수로 target의 클래스와 두번째 매개변수로
                            swiper 옵션을 객체로 넘기면 된다. <br />

                            ex) uiCommon.swiper.init('.slider-list', { slidesPerView: "4", spaceBetween: 32, scrollbar: { el: ".slider-lawyer
                            .swiper-scrollbar", hide: false, draggable: true, }, breakpoints: { 769: { slidesPerView: "auto", spaceBetween: 6, }, },
                            });
                        </p>
                    </div>
                </section>
            </div>
        </div>

        <!-- SCRIPT IMPORT -->
        @@include('../src/pages/en/includes/scriptImport.html', {pageMain : false,})

        <script>
            uiCommon.slick.init($(".slider-list"), {
                infinite: false,
                speed: 500,
                slidesToShow: 1,
                dots: false,
                arrows: false,
            });

            uiCommon.swiper.init(".slider-lawyer", {
                slidesPerView: "4",
                spaceBetween: 32,
                scrollbar: {
                    el: ".slider-lawyer .swiper-scrollbar",
                    hide: false,
                    draggable: true,
                },
                breakpoints: {
                    769: {
                        slidesPerView: "auto",
                        spaceBetween: 6,
                    },
                },
            });
        </script>
    </body>
</html>
