@charset "utf-8";

/* Common */
/* swiper */
#wrap [class*=swiper-button] {margin-top: -24px;width: 48px;height: 48px;background: url(../images/common/ico_chevron_down.png) no-repeat center, #fff;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);border: 1px solid #e8e8e8;border-radius: 50%;}
#wrap [class*=swiper-button].swiper-button-disabled {display: none;}
#wrap .swiper-button-prev {left: -10px;transform: rotate(90deg);}
#wrap .swiper-button-next {right: -10px;transform: rotate(-90deg);}
#wrap .swiper-pagination {left: 0;right: 0;margin-top: 12px;line-height: 0;}
#wrap .swiper-pagination-bullet {margin:0 4px;width: 12px;height: 12px;background: #1c1814;opacity: 0.1;}
#wrap .swiper-pagination-bullet-active {background: rgba(28,24,20);opacity: 0.6;}
.swiper-util {position: absolute;left: 50%;transform: translateX(-50%);margin-top: 24px;z-index: 50;}
.swiper-util > * {display: inline-block;vertical-align: middle;}
.swiper-util .swiper-remote {position: relative;margin-right: 8px;width: 32px;height: 32px;border: 1px solid #e8e8e8;border-radius: 50%;background: url(../images/common/ico_pause.png) no-repeat center;font-size: 0;background-size: 20px;}
.swiper-util .swiper-remote.play {background: #fff;}
.swiper-util .swiper-remote.play::before {content: '';position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%) rotate(90deg);width: 0;height: 0;border-bottom: 6px solid #1d1815;border-right: 6px solid transparent;border-left: 6px solid transparent;opacity: 0.5;}
.swiper-util .utilBox {padding: 0 12px;border-radius: 16px;border: 1px solid #e8e8e8;font-size: 0;}
.swiper-util .utilBox > * {display: inline-block;vertical-align: middle;}
.swiper-util .utilBox .count {font-size: 14px;color: #b8b6b4;line-height: 32px;font-family: 'Lato';}
.swiper-util .utilBox .count em {color: #1c1814;}
.swiper-util .utilBox .more {margin-left: 8px;width: 20px;height: 20px;background:url(../images/common/ico_plus.png) no-repeat center;font-size: 0;background-size: 100%;}
/* 소제목 */
.boxTit {position: relative;margin-bottom: 32px;}
.boxTit .tit {display: inline-block;font-size: 32px;font-weight: 700;line-height: 1.25;letter-spacing: -2px;vertical-align: middle;}
.boxTit .tit span {display: block;font-size: 32px;font-weight: 400;}
.boxTit .remainTime {display: inline-block;margin-left: 32px;vertical-align: middle;font-size: 16px;line-height: 1.5;}
.boxTit .remainTime em {display: inline-block;position: relative;margin: 0 8px;width: 40px;height: 40px;text-align: center;background: #1c1814;border-radius: 4px;overflow: hidden;vertical-align: middle;}
.boxTit .remainTime em span {display: inline-block;position: absolute;left: 0;width: 100%;font-size: 20px;font-family: 'Lato';font-weight: 700;color: #fff;line-height: 40px;}
.boxTit .remainTime em .cur {transform: translateY(-100%) scale(0.2);}
.boxTit .remainTime em.ani .cur {animation: curCount 1s infinite;}
.boxTit .remainTime em.ani .old {animation: oldCount 1s infinite;}

@keyframes curCount {
    from {transform: translateY(-100%) scale(0.2);}
    to {transform: translateY(0) scale(1);}
}
@keyframes oldCount {
    from {transform: translateY(0) scale(1);}
    to {transform: translateY(100%) scale(0.2);}
}

.boxTit .txtMore {position: absolute;right: 0;top: 50%;transform: translateY(-50%);padding-right: 25px;font-size: 14px;color: #8e8c8a;line-height: 1.4;background: url(../images/common/ico_chevron_gray.png) no-repeat right 0 center;background-size: 18px;}
.boxTit .txtMore:hover {text-decoration: underline;}
/* 상품 정보 */
.productList .thumbnail,
.productInfo .thumbnail {display: block;position: relative;height: 236px;text-align: center;overflow: hidden;border-radius: 4px;}
.productList .thumbnail img,
.productInfo .thumbnail img {width: 100%;transition: all 0.3s;}
.productList a,
.productInfo a {display: block;border-radius: 4px;}
.productList a:hover .thumbnail img,
.productInfo a:hover .thumbnail img {transform: scale(1.1);}
.productList .thumbnail .ico-timeDeal {position: absolute;left: 0;top: 0;padding: 25px 0 5px;width: 48px;text-align: center;font-size: 12px;font-weight: 700;line-height: 1.5;background: url(../images/common/ico_timedeal.png) no-repeat center top 5px, #ffe73e;border-radius: 4px;}
.productList .infoBox,
.productInfo .infoBox {display: block;padding: 16px 0;line-height: 1;}
.productList .infoBox .price,
.productInfo .infoBox .price {display: block;}
.productList .infoBox .price > *,
.productInfo .infoBox .price > * {display: inline-block;vertical-align: middle;font-family: 'Lato';}
.productList .infoBox .price strong,
.productInfo .infoBox .price strong {margin-right: 12px;font-size: 24px;font-weight: 700;}
.productList .infoBox .price strong span,
.productInfo .infoBox .price strong span {font-size: 18px;font-weight: 700;}
.productList .infoBox .price em,
.productInfo .infoBox .price em {font-size: 20px;color: #00b076;}
.productList .infoBox .name,
.productInfo .infoBox .name {display:-webkit-box;margin: 8px 0 24px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;font-size: 16px;line-height: 1.5;color: #605d5b;}
.productList .infoBox .util {line-height: 1.4;}
.productList .infoBox .util span {display: inline-block;font-size: 14px;color: #8e8c8a;vertical-align: middle;}
.productList .infoBox .grade {padding-left: 22px;margin-right: 12px;background: url(../images/common/ico_star.png) no-repeat left center;}
.productList .infoBox .util .delivery {display: block;margin-top: 8px;}
.productList .infoBox .util .delivery strong {margin-right: 12px;color: #ff5442;font-weight: 700;}
.productList .infoBox .util .delivery em {color: #605d5b;font-weight: 700;}
.productList .btnScrap,
.productInfo .btnScrap {position: absolute;right: 12px;top: 200px;}
.productList .btnScrap label,
.productInfo .btnScrap label {font-size: 0;}
.productList .btnScrap input[type="checkbox"],
.productInfo .btnScrap input[type="checkbox"] {display: block;width: 24px;height: 24px;background-repeat: no-repeat;background-position: center;background-image: url(../images/common/ico_scrap.png);appearance: none;cursor: pointer;background-size: 100%;}
.productList .btnScrap input[type="checkbox"]:checked,
.productInfo .btnScrap input[type="checkbox"]:checked {background-image: url(../images/common/ico_scrap_on.png);}

/* 메인 비주얼 */
.mainVi {padding: 32px 0 120px;}
.mainVi img {width: 100%;}

/* 해쉬태그 */
.arti01 {padding-bottom: 64px;}
.arti01 ul {padding: 20px;background: #f8f8f8;text-align: center;font-size: 0;}
.arti01 ul li {display: inline-block;margin: 4px 8px 4px 0;vertical-align: middle;}
.arti01 ul li a {padding: 0 20px;font-size: 14px;color: #605d5b;line-height: 38px;border: 1px solid #e8e8e8;background: #fff;border-radius: 20px;}
.arti01 ul li:last-of-type {margin-right: 0;}

/* 즐겨찾는 카테고리 */
.arti02 {padding-bottom: 66px;margin-bottom: 32px;border-bottom: 1px solid #e8e8e8}
.arti02 ul {font-size: 0;}
.arti02 ul li {display: inline-block;margin: 0 48px 32px 0;width: 120px;}
.arti02 ul li:nth-of-type(8n) {margin-right: 0;}
.arti02 ul li a {display: block;text-align: center;}
.arti02 ul li a .thumbnail {display: block;overflow: hidden;border-radius: 50%;}
.arti02 ul li a .thumbnail img {transition: transform 0.3s;}
.arti02 ul li a:hover .thumbnail img {transform: scale(1.1);}
.arti02 ul li a figcaption {margin-top: 16px;font-size: 16px;line-height: 1.5;}
.arti02 .mo-el ul li {margin: 0 2% 16px 0;width: 23.5%;}
.arti02 .mo-el ul li:nth-of-type(4n) {margin-right: 0;}
.arti02 .swiper-pagination {display: none;}

/* 타임딜 */
.arti03 {padding-bottom: 96px;}
.arti03 .btnScrap {top: 268px;}
.arti03 .thumbnail {height: 304px;}
.arti03 .mo-el {padding: 0 20px;font-size: 0;}
.arti03 .mo-el li {display: inline-block;margin-right: 1%;width:49.5%;}
.arti03 .mo-el li:nth-of-type(2n) {margin-right: 0;}
#wrap .arti03 [class*=swiper-button] {top: 230px;}

/* 오늘의 인기 상품 */
.arti04 {padding-bottom: 96px;}
#wrap .arti04 [class*=swiper-button] {top: 140px;}
#wrap .arti04 .swiper-button-prev {left: -25px;}
#wrap .arti04 .swiper-button-next {right: -25px;}
.arti04 .tabWrap {margin-bottom: 33px;}
.arti04 .infoBox {padding: 16px;}
.arti04 .swiper-container {padding: 10px 0;}
.arti04 .swiper-container a {display: block;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);}
.arti04 .tabContents {height: 392px;}
.arti04 .livingSlide {position: relative;padding-top: 88px;}
.arti04 .livingSlide .productList {font-size: 0;}
.arti04 .livingSlide .productList > li {display: inline-block;position: relative;margin-right: 32px;width: 236px;vertical-align: top;}
.arti04 .livingSlide .productList > li:last-of-type {margin-right: 0;}
#wrap .arti04 .livingSlide [class*=swiper-button] {top: 220px;}
#wrap .arti04 .livingSlide .swiper-pagination {top: 0;margin: 0;text-align: left;border-bottom: 1px solid #d2d1d0;}
#wrap .arti04 .livingSlide .swiper-pagination-bullet {position: relative;margin: 0 24px 0 0;width: auto;height: auto;background: none;opacity: 1;}
#wrap .arti04 .livingSlide .swiper-pagination-bullet-active {font-weight: 700;color: #00b076;}
#wrap .arti04 .livingSlide .swiper-pagination-bullet::before {display: block;padding: 16px 8px;font-size: 16px;line-height: 1.5;}
#wrap .arti04 .livingSlide .swiper-pagination-bullet:nth-of-type(1)::before {content: '가구';}
#wrap .arti04 .livingSlide .swiper-pagination-bullet:nth-of-type(2)::before {content: '아웃도어';}
#wrap .arti04 .livingSlide .swiper-pagination-bullet:nth-of-type(3)::before {content: '리빙 · 라이프스타일';}
#wrap .arti04 .livingSlide .swiper-pagination-bullet::after {content: '';position: absolute;left: 0;bottom: 0;width: 0;height: 0;background-color: #1ec68c;transition: all 0.3s;transform-origin: left;}
#wrap .arti04 .livingSlide .swiper-pagination-bullet-active::after {width: 100%;height: 2px;}

/* LET'S TRY IT */
.arti05 {padding-bottom: 96px;margin-bottom: 64px;border-bottom: 1px solid #e8e8e8;}
.tryList {font-size: 0;}
.tryList li {display: inline-block;margin-right: 32px;width: 416px;}
.tryList li:last-of-type {margin-right: 0;}
.tryList li a {display: table;width: 100%;border-radius: 8px;border: 1px solid #e8e8e8;overflow: hidden;}
.tryList li a > * {display: table-cell;vertical-align: middle;}
.tryList li a > .thumbnail {width: 120px;height: 120px;}
.tryList li a > .thumbnail img {width: 100%;}
.tryList li a > strong {padding: 0 15px 0 32px;font-size: 16px;font-weight: 400;}

/* 
    레트로를 원한다면, 융! 
    포인트를 주기좋은 타일
    잠 잘오는 아이템
    삶의 질 향상 아이템
*/
.itemBox {margin-bottom: 64px;border-bottom: 1px solid #e8e8e8;font-size: 0;}
.arti09 {margin-bottom: 64px;font-size: 0;}
.itemBox .boxTit {position: absolute;left: 16px;}
.itemBox .productList {display: inline-block;vertical-align: top;}
.itemBox .productList > li {display: inline-block;position: relative;margin:0 32px 32px 0;width:236px;vertical-align: top;}
.itemBox .productList > li:first-of-type {margin-left: 272px;}
.itemBox .productList > li:nth-of-type(4),
.itemBox .productList > li:last-of-type {margin-right: 0;}

/* 배너 */
.bannerBox {display: block;margin: 0 auto 96px;width: 1440px;}
.bannerBox img {width: 100%;}

/* 추천 브랜드 */
.arti10 {margin-bottom: 132px;}
#wrap .arti10 [class*=swiper-button] {top: 50%;margin: 0;}
.brandSlide .swiper-slide {font-size: 0;}
.brandSlide .swiper-slide > * {display: inline-block;width: 48.7%;vertical-align: top;}
.brandSlide .swiper-slide > a {margin-right: 2.5%;}
.brandSlide .swiper-slide > a figure {position: relative;width: 100%;height: 410px;border-radius: 8px;overflow: hidden;}
.brandSlide .swiper-slide > a figure::before {content: '';position: absolute;top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0,0,0,0.4);}
.brandSlide .swiper-slide > a img {width: 100%;height: 100%;}
.brandSlide .swiper-slide > a figcaption {position: absolute;left: 48px;bottom: 48px;padding-right: 48px;color: #fff;}
.brandSlide .swiper-slide > a figcaption strong {display: block;margin-bottom: 16px;font-size: 32px;font-weight: 700;line-height: 1.2;}
.brandSlide .swiper-slide > a figcaption span {font-size: 14px;line-height: 1.4;}
.brandSlide .swiper-slide ul {margin-top: -26px;}
.brandSlide .swiper-slide li {display: inline-block;margin: 26px 5% 0 0;width: 30%;vertical-align: top;border-radius: 4px;overflow: hidden;}
.brandSlide .swiper-slide li:nth-of-type(3n) {margin-right: 0;}
.brandSlide .swiper-slide li:last-of-type figure {position: relative;}
.brandSlide .swiper-slide li:last-of-type figure .more {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 32px;font-family: 'Lato';font-weight: 700;color: #fff;}
.brandSlide .swiper-slide li:last-of-type figure:before {content: '';position: absolute;top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0,0,0,0.4);;}
.arti10 .mo-el {font-size: 0;}
.arti10 .mo-el li ~ li {margin-left: 12px;}
.arti10 .mo-el li a {display: block;}
.arti10 .mo-el li a span {display: block;position: relative;margin-bottom: 4px;width: 68px;height: 68px;border: 1px solid #e8e8e8;border-radius: 50%;}
.arti10 .mo-el li a span img {position: absolute;top: 45%;left: 50%;transform: translate(-50%,-50%);width: 70%;}
.arti10 .mo-el li figcaption {font-size: 12px;color: #605d5b;line-height: 1.5;text-align: center;}

/* 문고리 정보 */
.arti11 {margin-bottom: 96px;}
.arti11 .gridSet {font-size: 0;}
.arti11 .gridSet > * {display: inline-block;margin-right: 32px;width: 640px;vertical-align: top;}
.arti11 .gridSet > *:last-of-type {margin-right: 0;}
.arti11 .grid {padding: 32px;height: 160px;border-radius: 8px;border: 1px solid #e8e8e8;}
.arti11 .grid .tit {padding-left: 34px;margin-bottom: 20px;font-size: 20px;font-weight: 700;line-height: 1.2;letter-spacing: -1px;background-repeat: no-repeat;background-position: left center;background-size: 24px;}
.arti11 .grid span {display: block;margin-top: 8px;font-size: 14px;color: #605d5b;line-height: 1.4;}
.arti11 .grid:first-of-type .tit {background-image: url(../images/common/ico_deposit.png);}
.arti11 .grid:last-of-type .tit {background-image: url(../images/common/ico_store.png);}

/* for tablet  */
@media screen and (min-width: 769px) and (max-width:1344px){
        
    /* Common */
    /* swiper */
    #wrap [class*=swiper-button] {margin-top: -1.7857vw;width: 3.5714vw;height: 3.5714vw;box-shadow: 0 0.1488vw 0.2976vw 0 rgba(0, 0, 0, 0.08);border: 0.0744vw solid #e8e8e8;}
    #wrap .swiper-button-prev {left: 0;}
    #wrap .swiper-button-next {right: 0;}
    #wrap .swiper-pagination {margin-top: 0.8929vw;}
    #wrap .swiper-pagination-bullet {margin:0 0.2976vw;width: 0.8929vw;height: 0.8929vw;}
    .swiper-util {left: 50%;transform: translateX(-50%);margin-top: 1.7857vw;}
    .swiper-util .swiper-remote {margin-right: 0.5952vw;width: 2.3810vw;height: 2.3810vw;border: 0.0744vw solid #e8e8e8;background-size: 5.5556vw;}
    .swiper-util .swiper-remote.play::before {left: 50%;top: 50%;transform: translate(-50%,-50%) rotate(90deg);width: 0;height: 0;border-bottom: 0.4464vw solid #1d1815;border-right: 0.4464vw solid transparent;border-left: 0.4464vw solid transparent;opacity: 0.5;}
    .swiper-util .utilBox {padding: 0 0.8929vw;border-radius: 1.1905vw;border: 0.0744vw solid #e8e8e8;font-size: 0;}
    .swiper-util .utilBox .count {font-size: 1.0417vw;line-height: 2.3810vw;}
    .swiper-util .utilBox .more {margin-left: 0.5952vw;width: 1.4881vw;height: 1.4881vw;}
    /* 소제목 */
    .boxTit {margin-bottom: 2.3810vw;}
    .boxTit .tit {font-size: 2.3810vw;line-height: 1.25;letter-spacing: -0.1488vw;}
    .boxTit .tit span {font-size: 2.3810vw;}
    .boxTit .remainTime {margin-left: 2.3810vw;font-size: 1.1905vw;line-height: 1.5;}
    .boxTit .remainTime em {margin: 0 0.5952vw;width: 2.9762vw;height: 2.9762vw;background: #1c1814;border-radius: 0.2976vw;}
    .boxTit .remainTime em span {left: 0;width: 100%;font-size: 1.4881vw;line-height: 2.9762vw;}

    .boxTit .txtMore {right: 0;top: 50%;transform: translateY(-50%);padding-right: 1.8601vw;font-size: 1.0417vw;line-height: 1.4;background-size: 1.3393vw;}
    /* 상품 정보 */
    .productList .thumbnail,
    .productInfo .thumbnail {height: 17.5595vw;border-radius: 0.2976vw;}
    .productList a,
    .productInfo a {border-radius: 0.2976vw;}
    .productList .thumbnail .ico-timeDeal {left: 0;top: 0;padding: 1.8601vw 0 0.3720vw;width: 3.5714vw;font-size: 0.8929vw;line-height: 1.5;background: url(../images/common/ico_timedeal.png) no-repeat center top 0.3720vw, #ffe73e;border-radius: 0.2976vw;}
    .productList .infoBox,
    .productInfo .infoBox {padding: 1.1905vw 0;line-height: 1;}
    .productList .infoBox .price strong,
    .productInfo .infoBox .price strong {margin-right: 0.8929vw;font-size: 1.7857vw;}
    .productList .infoBox .price strong span,
    .productInfo .infoBox .price strong span {font-size: 1.3393vw;}
    .productList .infoBox .price em,
    .productInfo .infoBox .price em {font-size: 1.4881vw;}
    .productList .infoBox .name,
    .productInfo .infoBox .name {margin: 0.5952vw 0 1.7857vw;text--webkit-line-clamp:2;-webkit-box-orient:vertical;font-size: 1.1905vw;line-height: 1.5;}
    .productList .infoBox .util span {font-size: 1.0417vw;}
    .productList .infoBox .grade {padding-left: 1.6369vw;margin-right: 0.8929vw;background: url(../images/common/ico_star.png) no-repeat left center;}
    .productList .infoBox .util .delivery {margin-top: 0.5952vw;}
    .productList .infoBox .util .delivery strong {margin-right: 0.8929vw;}
    .productList .btnScrap,
    .productInfo .btnScrap {right: 0.8929vw;top: 14.8810vw;}
    .productList .btnScrap input[type="checkbox"],
    .productInfo .btnScrap input[type="checkbox"] {width: 1.7857vw;height: 1.7857vw;background-image: url(../images/common/ico_scrap.png);appearance: none;cursor: pointer;}

    /* 메인 비주얼 */
    .mainVi {padding: 2.3810vw 0 8.9286vw;}

    /* 해쉬태그 */
    .arti01 {padding-bottom: 4.7619vw;}
    .arti01 ul {padding: 1.4881vw;}
    .arti01 ul li {margin: 0.2976vw 0.5952vw 0.2976vw 0;}
    .arti01 ul li a {padding: 0 1.4881vw;font-size: 1.0417vw;line-height: 2.8274vw;border: 0.0744vw solid #e8e8e8;background: #fff;border-radius: 1.4881vw;}

    /* 즐겨찾는 카테고리 */
    .arti02 {padding-bottom: 4.9107vw;margin-bottom: 2.3810vw;border-bottom: 0.0744vw solid #e8e8e8}
    .arti02 ul li {margin: 0 3.5714vw 2.3810vw 0;width: 8.9286vw;}
    .arti02 ul li a figcaption {margin-top: 1.1905vw;font-size: 1.1905vw;line-height: 1.5;}

    /* 타임딜 */
    .arti03 {padding-bottom: 7.1429vw;}
    .arti03 .btnScrap {top: 19.9405vw;}
    .arti03 .thumbnail {height: 22.6190vw;}
    #wrap .arti03 [class*=swiper-button] {top: 17.1131vw;}

    /* 오늘의 인기 상품 */
    .arti04 {padding-bottom: 7.1429vw;}
    #wrap .arti04 [class*=swiper-button] {top: 10.4167vw;}
    #wrap .arti04 .swiper-button-prev {left: -1.8601vw;}
    #wrap .arti04 .swiper-button-next {right: -1.8601vw;}
    .arti04 .tabWrap {margin-bottom: 2.4554vw;}
    .arti04 .infoBox {padding: 1.1905vw;}
    .arti04 .swiper-container {padding: 0.7440vw 0;}
    .arti04 .swiper-container a {box-shadow: 0 0.2976vw 0.5952vw 0 rgba(0, 0, 0, 0.08);}
    .arti04 .tabContents {height: 29.1667vw;}
    .arti04 .livingSlide {padding-top: 6.5476vw;}
    .arti04 .livingSlide .productList > li {margin-right: 2.3810vw;width: 17.5595vw;}
    #wrap .arti04 .livingSlide [class*=swiper-button] {top: 16.3690vw;}
    #wrap .arti04 .livingSlide .swiper-pagination {top: 0;margin: 0;border-bottom: 0.0744vw solid #d2d1d0;}
    #wrap .arti04 .livingSlide .swiper-pagination-bullet {margin: 0 1.7857vw 0 0;width: auto;height: auto;background: none;opacity: 1;}
    #wrap .arti04 .livingSlide .swiper-pagination-bullet::before {padding: 1.1905vw 0.5952vw;font-size: 1.1905vw;line-height: 1.5;}
    #wrap .arti04 .livingSlide .swiper-pagination-bullet-active::after {width: 100%;height: 0.1488vw;}

    /* LET'S TRY IT */
    .arti05 {padding-bottom: 7.1429vw;margin-bottom: 4.7619vw;border-bottom: 0.0744vw solid #e8e8e8;}
    .tryList li {margin-right: 2.3810vw;width: 30.9524vw;}
    .tryList li a {width: 100%;border-radius: 0.5952vw;border: 0.0744vw solid #e8e8e8;}
    .tryList li a > .thumbnail {width: 8.9286vw;height: 8.9286vw;}
    .tryList li a > strong {padding: 0 1.1161vw 0 2.3810vw;font-size: 1.1905vw;}

    /* 
        레트로를 원한다면, 융! 
        포인트를 주기좋은 타일
        잠 잘오는 아이템
        삶의 질 향상 아이템
    */
    .itemBox {margin-bottom: 4.7619vw;border-bottom: 0.0744vw solid #e8e8e8;font-size: 0;}
    .arti09 {margin-bottom: 4.7619vw;font-size: 0;}
    .itemBox .boxTit {left: 1.1905vw;}
    .itemBox .productList > li {margin:0 2.3810vw 2.3810vw 0;width:17.5595vw;}
    .itemBox .productList > li:first-of-type {margin-left: 20.2381vw;}

    /* 배너 */
    .bannerBox {margin: 0 auto 7.1429vw;width: 100%;}

    /* 추천 브랜드 */
    .arti10 {margin-bottom: 9.8214vw;}
    .brandSlide .swiper-slide > a figure {width: 100%;height: 30.5060vw;border-radius: 0.5952vw;}
    .brandSlide .swiper-slide > a figure::before {top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0,0,0,0.4);}
    .brandSlide .swiper-slide > a figcaption {left: 3.5714vw;bottom: 3.5714vw;padding-right: 3.5714vw;}
    .brandSlide .swiper-slide > a figcaption strong {margin-bottom: 1.1905vw;font-size: 2.3810vw;line-height: 1.2;}
    .brandSlide .swiper-slide > a figcaption span {font-size: 1.0417vw;line-height: 1.4;}
    .brandSlide .swiper-slide ul {margin-top: -1.9345vw;}
    .brandSlide .swiper-slide li {margin: 1.9345vw 5% 0 0;border-radius: 0.2976vw;}
    .brandSlide .swiper-slide li:last-of-type figure .more {top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 2.3810vw;}

    /* 문고리 정보 */
    .arti11 {margin-bottom: 7.1429vw;}
    .arti11 .gridSet > * {margin-right: 2.3810vw;width: 47.6190vw;}
    .arti11 .grid {padding: 2.3810vw;height: auto;border-radius: 0.5952vw;border: 0.0744vw solid #e8e8e8;}
    .arti11 .grid .tit {padding-left: 2.5298vw;margin-bottom: 1.4881vw;font-size: 1.4881vw;line-height: 1.2;letter-spacing: -0.0744vw;background-size: 1.7857vw;}
    .arti11 .grid span {margin-top: 0.5952vw;font-size: 1.0417vw;line-height: 1.4;}
}

/* for mobile  */
@media screen and (max-width: 768px){
    .swiper-util {bottom: 0;left: auto;right: 0;margin-top: 0;padding: 0 8px;transform: none;background: rgba(0, 0, 0, 0.2);border-top-left-radius: 4px;}
    .swiper-util .utilBox {padding: 0;border: none;}
    .swiper-util .utilBox .count {color: rgba(255,255,255,0.6);font-size: 12px;}
    .swiper-util .utilBox .count em {color: #fff;}
    .swiper-util .swiper-remote {width: 20px;height: 20px;border: none;background: url(../images/common/ico_mo_pause.png) no-repeat center;}
    .swiper-util .swiper-remote.play {background: none;}
    .swiper-util .swiper-remote.play::before {border-bottom: 6px solid #fff;}
    .swiper-util .utilBox .more {background: url(../images/common/ico_mo_plus.png) no-repeat center;}
    #wrap .swiper-pagination-bullet {width: 5px;height: 5px;}
    #wrap .swiper-button-prev {left: 0;}
    #wrap .swiper-button-next {right: 0;}
    .productList .infoBox, .productInfo .infoBox {padding: 8px 0;}
    .productList .infoBox .price strong, .productInfo .infoBox .price strong {margin-right: 4px;font-size: 16px;}
    .productList .infoBox .price strong span, .productInfo .infoBox .price strong span {font-size: 14px;}
    .productList .infoBox .price em, .productInfo .infoBox .price em {font-size: 14px;}
    .productList .infoBox .name, .productInfo .infoBox .name {margin-top: 4px;font-size: 14px;}
    .productList .thumbnail, .productInfo .thumbnail {height: 140px;}
    .productList .btnScrap, .productInfo .btnScrap {top: 100px;}
    .boxTit {margin-bottom: 16px;}
    .boxTit .tit {font-size: 20px;}

    .mainVi, .mainVi .inner {padding: 0;}
    .mainVi .swiper-button-prev,
    .mainVi .swiper-button-next {display: none;}

    .arti01 {padding: 28px 0;}
    .arti01 ul {padding: 0;background: #fff;}
    .arti01 ul li a {padding: 0 16px;color: #00b076;line-height: 32px;border-color: #d8f1e8;}

    .arti02 {padding-bottom: 45px;margin-bottom: 0;border-bottom: none;}
    .arti02 ul li a figcaption {margin-top: 8px;font-size: 14px;line-height: 1.4;}
    .arti02 .swiper-pagination {display: block;margin-top: 8px;}

    .arti03 {padding-bottom: 40px;}
    .arti03 .inner {padding: 0;}
    .arti03 .boxTit {padding: 26px 20px;margin-bottom: 24px;background: url(../images/main/bg_timedeal.png) no-repeat center;background-size: cover;}
    .arti03 .boxTit .tit {padding-right: 28px;background: url(../images/common/ico_chevron_right.png) no-repeat right;background-size: 24px;}
    .arti03 .boxTit .txtMore {display: none;}
    .boxTit .remainTime {position: absolute;right: 20px;top: 50%;transform: translateY(-50%);margin-left: 0;font-size: 12px;}
    .boxTit .remainTime em {width: 32px;height: 32px;}
    .boxTit .remainTime em span {font-size: 16px;line-height: 32px;}
    .arti03 .thumbnail {height: 156px;}
    .arti03 .btnScrap {top: 100px;}
    .arti03 .productList .infoBox .util,
    #wrap .arti03 [class*=swiper-button] {display: none;}

    .arti04 {padding-bottom: 32px;}
    .arti04 .swiper-slide {width: 140px;}
    .arti04 .tabContents {height: 244px;}
    .arti04 .infoBox {padding: 16px;}
    .arti04 .infoBox .name {margin-bottom: 14px;}
    #wrap .arti04 [class*=swiper-button] {display: none;}
    .arti04 .livingSlide {padding-top: 72px;}
    .arti04 .livingSlide .productList > li {margin: 0 1% 24px 0;width:49.5%;}
    .arti04 .livingSlide .productList > li:nth-of-type(2n) {margin-right: 0;}
    #wrap .arti04 .livingSlide .swiper-pagination {border-color: #f4f4f4;}
    #wrap .arti04 .livingSlide .swiper-pagination-bullet {margin: 0 16px 0 0;}
    #wrap .arti04 .livingSlide .swiper-pagination-bullet::before {font-size: 14px;color: #8e8c8a;}
    #wrap .arti04 .livingSlide .swiper-pagination-bullet-active::before {color: #00b076;}
    
    .arti05 {padding-bottom: 32px;margin-bottom: 0;border-bottom: none;}
    .tryList li {display: block;margin: 0 0 8px;width: 100%;}
    .tryList li a > .thumbnail {width: 72px;height: 72px;}
    .tryList li a > strong {padding: 0 16px;font-size: 14px;}

    .itemBox {margin-bottom: 8px;border-bottom: none;}
    .itemBox .boxTit {position: relative;left: 0;}
    .boxTit .tit span {display: inline-block;font-size: 20px;font-weight: 700;}
    .itemBox .productList {display: block;}
    .itemBox .productList > li {margin: 0 1% 0 0;width: 49.5%;}
    .itemBox .productList > li:first-of-type {margin-left: 0;}
    .itemBox .productList > li:nth-of-type(2n) {margin-right: 0;}

    .bannerBox {margin: 0 auto 40px;width: 100%;}

    .arti10 {margin-bottom: 40px;}
    #wrap .arti10 [class*=swiper-button],
    .arti10 .swiper-pagination {display: none;}

    .arti11 {display: none;}
}

@media screen and (max-width: 360px){
    .swiper-util {padding: 0 2.2222vw;border-top-left-radius: 1.1111vw;}
    .swiper-util .utilBox .count {color: rgba(255,255,255,0.6);font-size: 3.3333vw;}
    .swiper-util .swiper-remote {width: 5.5556vw;height: 5.5556vw;}
    #wrap .swiper-pagination-bullet {width: 1.3889vw;height: 1.3889vw;}
    .productList .infoBox, .productInfo .infoBox {padding: 2.2222vw 0;}
    .productList .infoBox .price strong, .productInfo .infoBox .price strong {margin-right: 1.1111vw;font-size: 4.4444vw;}
    .productList .infoBox .price strong span, .productInfo .infoBox .price strong span {font-size: 3.8889vw;}
    .productList .infoBox .price em, .productInfo .infoBox .price em {font-size: 3.8889vw;}
    .productList .infoBox .name, .productInfo .infoBox .name {margin-top: 1.1111vw;font-size: 3.8889vw;}
    .productList .thumbnail, .productInfo .thumbnail {height: 38.8889vw;}
    .productList .btnScrap, .productInfo .btnScrap {top: 27.7778vw;}
    .boxTit {margin-bottom: 4.4444vw;}
    .boxTit .tit {font-size: 5.5556vw;}

    .arti01 {padding: 7.7778vw 0;}
    .arti01 ul li a {padding: 0 4.4444vw;color: #00b076;line-height: 8.8889vw;border-color: #d8f1e8;}

    .arti02 {padding-bottom: 12.5000vw;}
    .arti02 ul li a figcaption {margin-top: 2.2222vw;font-size: 3.8889vw;line-height: 1.4;}
    .arti02 .swiper-pagination {display: block;margin-top: 2.2222vw;}

    .arti03 {padding-bottom: 11.1111vw;}
    .arti03 .boxTit {padding: 7.2222vw 5.5556vw;margin-bottom: 6.6667vw;}
    .arti03 .boxTit .tit {padding-right: 7.7778vw;background: url(../images/common/ico_chevron_right.png) no-repeat right;background-size: 6.6667vw;}
    .boxTit .remainTime {position: absolute;right: 5.5556vw;top: 50%;transform: translateY(-50%);margin-left: 0;font-size: 3.3333vw;}
    .boxTit .remainTime em {width: 8.8889vw;height: 8.8889vw;}
    .boxTit .remainTime em span {font-size: 4.4444vw;line-height: 8.8889vw;}
    .arti03 .thumbnail {height: 43.3333vw;}
    .arti03 .btnScrap {top: 27.7778vw;}

    .arti04 {padding-bottom: 8.8889vw;}
    .arti04 .swiper-slide {width: 38.8889vw;}
    .arti04 .tabContents {height: 67.7778vw;}
    .arti04 .infoBox {padding: 4.4444vw;}
    .arti04 .infoBox .name {margin-bottom: 3.8889vw;}
    .arti04 .livingSlide {padding-top: 20.0000vw;}
    .arti04 .livingSlide .productList > li {margin: 0 1% 6.6667vw 0;width:49.5%;}
    #wrap .arti04 .livingSlide .swiper-pagination {border-color: #f4f4f4;}
    #wrap .arti04 .livingSlide .swiper-pagination-bullet {margin: 0 4.4444vw 0 0;}
    #wrap .arti04 .livingSlide .swiper-pagination-bullet::before {font-size: 3.8889vw;color: #8e8c8a;}
    
    .arti05 {padding-bottom: 8.8889vw;margin-bottom: 0;border-bottom: none;}
    .tryList li {display: block;margin: 0 0 2.2222vw;width: 100%;}
    .tryList li a > .thumbnail {width: 20.0000vw;height: 20.0000vw;}
    .tryList li a > strong {padding: 0 4.4444vw;font-size: 3.8889vw;}

    .itemBox {margin-bottom: 2.2222vw;border-bottom: none;}
    .boxTit .tit span {display: inline-block;font-size: 5.5556vw;font-weight: 700;}
    .itemBox .productList > li {margin: 0 1% 0 0;width: 49.5%;}

    .bannerBox {margin: 0 auto 11.1111vw;width: 100%;}

    .arti10 {margin-bottom: 11.1111vw;}
}