@charset "utf-8";

#wrap {position:relative;margin:0 auto;width:100%;height:100%;}
.inner {position: relative;margin:0 auto;padding: 0 16px;width:100%;height:100%;max-width:1344px;}
.inner::after {content: '';display: block;clear: both;}
.mo-el {display: none;}

/*** Header ***/
header .logo {position: absolute;top: 40px;width: 139px;height: 39px;line-height: 0;z-index: 1;}
header .logo a {display: block;}
header .logo a img {width: 100%;}
.hd-top {padding: 16px 0 28px;}
.hd-top ul {text-align: right;font-size: 0;}
.hd-top li {display:inline-block;}
.hd-top li a {position:relative;padding: 0 12px;font-size: 12px;color: #8e8c8a;line-height: 1.5;}
.hd-top li a:hover {text-decoration: underline;}
.hd-top li a::after {content: '';position: absolute;right: 0;top: 50%;transform: translateY(-50%);width: 1px;height: 8px;background-color: #e8e8e8;}
.hd-top li:last-of-type a {padding-right: 0;}
.hd-top li:last-of-type a::after {display: none;}
.hd-middle {padding-bottom: 25px;}
.hd-middle .bigMenu {display: inline-block;margin-left: 139px;vertical-align: middle;font-size: 0;}
.hd-middle .bigMenu li {display: inline-block;position: relative;margin-left: 48px;vertical-align: middle;}
.hd-middle .bigMenu li a {font-size: 20px;font-weight: 700;line-height: 1.2;}
.hd-middle .bigMenu li a.on {color: #00b076;}
.hd-middle .bigMenu li .tooltip {display: inline-block;position: absolute;bottom: 35px;left: 50%;padding: 7px 16px 7px 40px;font-size: 12px;line-height: 1.5;border-radius: 100px;border: 1px solid #d2d1d0;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);transform: translateX(-50%);white-space: nowrap;background: url(../images/common/ico_saw.png) no-repeat left 16px center;opacity: 1;animation: 1s linear 3s opacity;background-size: 20px;}
.hd-middle .bigMenu li .tooltip::after {content: '';position: absolute;left: 50%;bottom: -6px;width: 9px;height: 9px;transform: rotate(45deg);border-width: 0 1px 1px 0;border-style: solid;border-color: #d2d1d0;background: #fff;}
.hd-middle .util {position: absolute;right: 0;top: 50%;transform: translateY(-50%);font-size: 0;}
.hd-middle .util > * {display: inline-block;vertical-align: middle;}
.hd-middle .util .hdSearch {position: relative;margin-right: 48px;width: 320px;}
.hd-middle .util .hdSearch input {padding: 0 55px 0 8px;width: 100%;height: 48px;border-width: 0 0 2px;border-style: solid;border-color: #1c1814;;font-size: 16px;}
.hd-middle .util .hdSearch input::placeholder {color: #8e8c8a;}
.hd-middle .util .hdSearch button {position: absolute;right: 0;top: 0;width: 48px;height: 48px;background: url(../images/common/ico_search.png) no-repeat center;background-size: 28px;font-size: 0;}
.hd-middle .moSearch {display: inline-block !important;margin-right: 24px;width: 24px;height: 24px;font-size: 0;background: url(../images/common/ico_moSearch.png) no-repeat center;background-size: 100%;}
.hd-middle .util .icoUtil {margin-right: 32px;width: 32px;height: 32px;font-size: 0;background: url(../images/common/ico_utill.png) no-repeat center;background-size: 100%;}
.hd-middle .util .icoMypage {margin-right: 32px;width: 32px;height: 32px;font-size: 0;background: url(../images/common/ico_mypage.png) no-repeat center;background-size: 100%;}
.hd-middle .util .icoCart {position: relative;width: 33px;height: 33px;font-size: 0;background: url(../images/common/ico_cart.png) no-repeat center;background-size: 100%;}
.hd-middle .util .icoCart em {position: absolute;bottom: 0;right: 0;width: 17px;font-size: 10px;color: #fff;border-radius: 50%;background: #ff5442;text-align: center;line-height: 17px;}
.hd-bottom {box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);}
.hd-bottom #gnb {font-size: 0;}
.hd-bottom #gnb .depth1 > li {display: inline-block;position: relative;margin-right: 24px;vertical-align: middle;}
.hd-bottom #gnb .depth1 > li:last-of-type {margin-right: 0;}
.hd-bottom #gnb .depth1 .slick-slide {margin-right: 24px;}
.hd-bottom #gnb .depth1 .slick-slide:last-of-type {margin-right: 0;}
.hd-bottom #gnb .depth1 > li > a,
.hd-bottom #gnb .depth1 .slick-slide > a {position: relative;padding: 16px 8px;font-size: 16px;line-height: 1.5;}
.hd-bottom #gnb .depth1 > li > a:hover,
.categoryMenu .depth2 > dl > dd > a:hover {color: #00b076;}
.hd-bottom #gnb .depth1 > li > a.btnRullet,
.hd-bottom #gnb .depth1 .slick-slide > a.btnRullet {padding: 0;width: 24px;height: 24px;font-size: 0;background: url(../images/common/ico_roulette.png) no-repeat center;background-size: 100%;}
.hd-bottom #gnb .depth1 .slick-slide > a.btnRullet {margin-top: 13px;}
.hd-bottom #gnb .depth1 > li.on > a,
.hd-bottom #gnb .depth1 .slick-slide.on > a {font-weight: 700;}
.hd-bottom #gnb .depth1 > li.on > a::before,
.hd-bottom #gnb .depth1 .slick-slide.on > a::before {content: '';position: absolute;bottom: 0;left: 0;right: 0;height: 3px;background: #1ec68c;}
.hd-bottom #gnb .depth1 > li.isDepth2 > a {padding: 16px 24px 16px 8px;}
.hd-bottom #gnb .depth1 > li.isDepth2 > a::after {content: '';position: absolute;right: 0;top: 50%;margin-top: -10px;width: 20px;height: 20px;background: url(../images/common/ico_chevron_down.png) no-repeat center;background-size: 100%;transition: transform 0.3s;}
.hd-bottom #gnb .depth1 > li.isDepth2.active > a::after {transform: rotate(180deg);}
.hd-bottom #gnb .depth1 > li.isDepth2 > a:hover::after {background-image: url(../images/common/ico_chevron_down_green.png);}
.isDepth2 .depth2 {display: none;position: absolute;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);background-color: #fff;z-index: 20;}
.categoryMenu .depth2 {padding: 32px 0;width: 225px;}
.categoryMenu .depth2 > dl ~ dl {margin-top: 32px;}
.categoryMenu .depth2 > dl > dt {padding:0 32px 8px;font-size: 16px;font-weight: 700;line-height: 1.5;}
.categoryMenu .depth2 > dl > dd {padding: 8px 32px;}
.categoryMenu .depth2 > dl > dd > a {padding-left: 32px;font-size: 14px;color: #605d5b;line-height: 1.4;background-repeat: no-repeat;background-position: left 0 center;background-size: 20px;}
.categoryMenu .depth2 > dl > dd:hover > a {color: #00b076;}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(1) > a {background-image: url(../images/common/ico_category_handle.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(1):hover > a {background-image: url(../images/common/ico_category_handle_on.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(2) > a {background-image: url(../images/common/ico_category_hardware.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(2):hover > a {background-image: url(../images/common/ico_category_hardware_on.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(3) > a {background-image: url(../images/common/ico_category_tools.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(3):hover > a {background-image: url(../images/common/ico_category_tools_on.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(4) > a {background-image: url(../images/common/ico_category_paint.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(4):hover > a {background-image: url(../images/common/ico_category_paint_on.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(5) > a {background-image: url(../images/common/ico_category_light.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(5):hover > a {background-image: url(../images/common/ico_category_light_on.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(6) > a {background-image: url(../images/common/ico_category_electric.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(6):hover > a {background-image: url(../images/common/ico_category_electric_on.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(7) > a {background-image: url(../images/common/ico_category_tile.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(7):hover > a {background-image: url(../images/common/ico_category_tile_on.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(8) > a {background-image: url(../images/common/ico_category_diyfloor.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(8):hover > a {background-image: url(../images/common/ico_category_diyfloor_on.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(9) > a {background-image: url(../images/common/ico_category_faucets.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(9):hover > a {background-image: url(../images/common/ico_category_faucets_on.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(10) > a {background-image: url(../images/common/ico_category_materials.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(10):hover > a {background-image: url(../images/common/ico_category_materials_on.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(11) > a {background-image: url(../images/common/ico_category_sheet.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(11):hover > a {background-image: url(../images/common/ico_category_sheet_on.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(12) > a {background-image: url(../images/common/ico_category_wallpaper.png);}
.categoryMenu .depth2 > dl.material > dd:nth-of-type(12):hover > a {background-image: url(../images/common/ico_category_wallpaper_on.png);}
.categoryMenu .depth2 > dl.interior > dd:nth-of-type(1) > a {background-image: url(../images/common/ico_category_furniture.png);}
.categoryMenu .depth2 > dl.interior > dd:nth-of-type(1):hover > a {background-image: url(../images/common/ico_category_furniture_on.png);}
.categoryMenu .depth2 > dl.interior > dd:nth-of-type(2) > a {background-image: url(../images/common/ico_category_outdoor.png);}
.categoryMenu .depth2 > dl.interior > dd:nth-of-type(2):hover > a {background-image: url(../images/common/ico_category_outdoor_on.png);}
.categoryMenu .depth2 > dl.interior > dd:nth-of-type(3) > a {background-image: url(../images/common/ico_category_living.png);}
.categoryMenu .depth2 > dl.interior > dd:nth-of-type(3):hover > a {background-image: url(../images/common/ico_category_living_on.png);}
.categoryMenu .depth2 > dl.interior > dd:nth-of-type(4) > a {background-image: url(../images/common/ico_category_office.png);}
.categoryMenu .depth2 > dl.interior > dd:nth-of-type(4):hover > a {background-image: url(../images/common/ico_category_office_on.png);}
.categoryMenu .depth2 > dl.interior > dd:nth-of-type(5) > a {background-image: url(../images/common/ico_category_fabric.png);}
.categoryMenu .depth2 > dl.interior > dd:nth-of-type(5):hover > a {background-image: url(../images/common/ico_category_fabric_on.png);}
.categoryMenu .depth2 > dl.interior > dd:nth-of-type(6) > a {background-image: url(../images/common/ico_category_appliances.png);}
.categoryMenu .depth2 > dl.interior > dd:nth-of-type(6) > a:hover {background-image: url(../images/common/ico_category_appliances_on.png);}
.categoryMenu dd .depth3 {display: none;position: absolute;top: 0;right: -225px;padding: 72px 65px 0 32px;width: 225px;height: 100%;transition: all 0.3s;border-left: 1px solid #f4f4f4;box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.08);background-color: #fff;}
.categoryMenu dd:hover .depth3 {display: block;}
.categoryMenu dd .depth3 li ~ li {margin-top: 16px;}
.categoryMenu dd .depth3 a {font-size: 14px;color: #605d5b;line-height: 1.4;}
.categoryMenu dd .depth3 a:hover {color: #00b076;}
.spaceMenu .depth2 {padding: 32px;width: 392px;font-size: 0;}
.spaceMenu .depth2 strong {font-size: 16px;font-weight: 700;line-height: 1.5;}
.spaceMenu .depth2 li {display: inline-block;margin: 24px 24px 0 0;width: 64px;}
.spaceMenu .depth2 li a {display: block;font-size: 14px;line-height: 1.4;color: #605d5b;text-align: center;}
.spaceMenu .depth2 li a:hover {color: #00b076;}
.spaceMenu .depth2 li:nth-of-type(4n) {margin-right: 0;}
.spaceMenu .depth2 li a::before {content: '';display: block;margin-bottom: 8px;width: 64px;height: 64px;border-radius: 50%;background-repeat: no-repeat;background-position: center;}
.spaceMenu .depth2 li:nth-of-type(1) a::before {background-image: url(../images/common/img_thumbnail.png);}
.spaceMenu .depth2 li:nth-of-type(2) a::before {background-image: url(../images/common/img_thumbnail2.png);}
.spaceMenu .depth2 li:nth-of-type(3) a::before {background-image: url(../images/common/img_thumbnail3.png);}
.spaceMenu .depth2 li:nth-of-type(4) a::before {background-image: url(../images/common/img_thumbnail4.png);}
.spaceMenu .depth2 li:nth-of-type(5) a::before {background-image: url(../images/common/img_thumbnail5.png);}
.spaceMenu .depth2 li:nth-of-type(6) a::before {background-image: url(../images/common/img_thumbnail6.png);}
.spaceMenu .depth2 li:nth-of-type(7) a::before {background-image: url(../images/common/img_thumbnail7.png);}
.spaceMenu .depth2 li:nth-of-type(8) a::before {background-image: url(../images/common/img_thumbnail8.png);}
.spaceMenu .depth2 li:nth-of-type(9) a::before {background-image: url(../images/common/img_thumbnail9.png);}
.spaceMenu .depth2 li:nth-of-type(10) a::before {background-image: url(../images/common/img_thumbnail10.png);}

/*** Footer ***/
footer .ft-top {padding: 22px 0;border-top: 1px solid #e8e8e8;background: #f8f8f8;}
footer .ft-top dl > * {display: inline-block;margin-right: 16px;vertical-align: middle;font-size: 14px;line-height: 1.4;}
footer .ft-top dl > *:last-child {margin-right: 0;}
footer .ft-top dl > dt {font-size: 14px;font-weight: 700;}
footer .ft-top dl > dd {color: #605d5b;}
footer .ft-top dl > dd:first-of-type {margin-right: 11px;}
footer .ft-top dl > dd > a {padding-left: 27px;color: #3dae44;background: url(../images/common/ico_talktalk.png) no-repeat left center;}
footer .ft-top .util {position: absolute;right: 16px;top: 50%;transform: translateY(-50%);}
footer .ft-top .util li {display: inline-block;}
footer .ft-top .util li a {font-size: 14px;line-height: 1.4;}
footer .ft-top .util li a:hover {text-decoration: underline;}
footer .ft-top .util li ~ li {margin-left: 32px;}
footer .ft-bottom {padding: 32px 0 64px;font-size: 0;}
footer .ft-bottom .inner > * {display: inline-block;vertical-align: top;}
footer .ft-bottom .ft-left {width:224px;}
footer .ft-bottom .ft-left .ftLogo {margin-bottom: 16px;}
footer .ft-bottom .ft-left span {margin-top: 16px;font-size: 16px;line-height: 1.5;}
footer .ft-bottom .ft-left span strong {display: block;font-size: 24px;font-weight: 400;letter-spacing: -1px;}
footer .ft-bottom .ft-center {width:784px;}
footer .ft-bottom .ft-center .infoList {margin-bottom: 24px;}
footer .ft-bottom .ft-center .infoList > li {display: inline-block;vertical-align: middle;}
footer .ft-bottom .ft-center .infoList > li a {font-size: 16px;font-weight: 700;line-height: 1.5;}
footer .ft-bottom .ft-center .infoList > li ~ li {margin-left: 32px;}
footer .ft-bottom .ft-center .txt {margin-bottom: 16px;}
footer .ft-bottom .ft-center .txt dt,
footer .ft-bottom .ft-center .txt dd {display: inline-block;font-size: 14px;color: #605d5b;line-height: 1.4;vertical-align: middle;}
footer .ft-bottom .ft-center .txt dd:first-of-type {margin-right: 12px;}
footer .ft-bottom .ft-center address {margin-bottom: 12px;}
footer .ft-bottom .ft-center address span {color: #8e8c8a;}
footer .ft-bottom .ft-center address strong {font-weight: 400;}
footer .ft-bottom .ft-center address div > * {display: inline-block;vertical-align: middle;line-height: 1.5;font-size: 12px;}
footer .ft-bottom .ft-center address div * ~ * {margin-left: 12px;}
footer .ft-bottom .ft-center .ulComponent {margin-bottom: 16px;}
footer .ft-bottom .ft-center .ulComponent a {font-size: 12px;line-height: 1.5;color: #8e8c8a;}
footer .ft-bottom .ft-center .ulComponent a.bold {color: #1c1814;}
footer .ft-bottom .ft-center .copy {font-size: 12px;line-height: 1.5;color: #b8b6b4;}
footer .ft-bottom .ft-right {width:304px;}
footer .ft-bottom .ft-right .qrcode {display: block;margin-bottom: 32px;}
footer .ft-bottom .ft-right .qrcode > * {display: inline-block;vertical-align: top;}
footer .ft-bottom .ft-right .qrcode > .imgBox {width: 70px;}
footer .ft-bottom .ft-right .qrcode > .imgBox img {width: 100%;}
footer .ft-bottom .ft-right .qrcode > .txtBox {padding-left: 24px;width: 234px;}
footer .ft-bottom .ft-right .qrcode > .txtBox a {display: block;margin-bottom: 8px;font-size: 16px;font-weight: 700;line-height: 1.5;}
footer .ft-bottom .ft-right .qrcode > .txtBox span {display: block;font-size: 14px;color: #605d5b;line-height: 1.4;}
.snsList > li {display: inline-block;}
.snsList > li ~ li {margin-left: 16px;}
.snsList > li a {width: 40px;height: 40px;border-radius: 50%;border: 1px solid #e8e8e8;font-size: 0;background-repeat: no-repeat;background-position: center;background-size: 28px;}
.snsList > li a.btnFacebook {background-image: url(../images/common/ico_facebook.png);}
.snsList > li a.btnInsta {background-image: url(../images/common/ico_instagram.png);}
.snsList > li a.btnYoutube {background-image: url(../images/common/ico_youtube.png);}
.snsList > li a.btnBlog {background-image: url(../images/common/ico_blog.png);}
footer .mo-el {text-align: center;font-size: 0;}
footer .ft-mo-top {padding: 8px 0;background-color: #f4f4f4;}
footer .ft-mo-top a {width: 49.5%;line-height: 32px;background-color: #fff;font-size: 12px;color: #605d5b;border-radius: 2px;border: 1px solid #e8e8e8;}
footer .ft-mo-top a ~ a {margin-left: 1%;}
footer .ft-mo-top a:first-of-type {color: #3dae44;}
footer .ft-mo-top a:first-of-type::before {content: '';display: inline-block;width: 20px;height: 20px;background: url(../images/common/ico_talktalk.png) no-repeat center;vertical-align: -5px;}
footer .ft-mo-middle {padding: 11px 0;border-bottom: 1px solid #f4f4f4;}
footer .ft-mo-middle a {font-size: 12px;color: #8e8c8a;line-height: 1.5;}
footer .ft-mo-middle a ~ a {margin-left: 24px;}
footer .ft-mo-bottom {padding: 16px 0 32px;}
footer .corp-info {margin-bottom: 16px;}
footer .corp-info button {position: relative;padding-right: 16px;font-size: 12px;color: #8e8c8a;line-height: 1.5;}
footer .corp-info button::after {content: '';position: absolute;right: 0;top: 0;width: 16px;height: 16px;background: url(../images/common/ico_down_small.png) no-repeat center;transition: transform 0.3s;}
footer .mo-el .snsList {display: inline-block;vertical-align: middle;}
footer .mo-el .snsList > li a {width: 32px;height: 32px;border-color: #f8f8f8;background-color: #f8f8f8;background-size: 16px;}
footer .appDown {padding: 0 24px 0 12px;margin-left: 12px;line-height: 32px;border-radius: 16px;font-size: 12px;font-weight: 700;color: #8e8c8a;background: url(../images/common/ico_download.png) no-repeat right 8px center, #f8f8f8;vertical-align: middle;}
footer .ft-mo-bottom .ulComponent {margin: 16px 0 4px;}
footer .ft-mo-bottom .ulComponent li {margin: 0 8px 0 0;padding-right: 8px}
footer .ft-mo-bottom .ulComponent li:last-of-type {margin-right: 0;padding: 0;}
footer .ft-mo-bottom .ulComponent a {font-size: 10px;line-height: 1.6;color: #8e8c8a;}
footer .ft-mo-bottom .copy {font-size: 10px;line-height: 1.6;color: #b8b6b4;}

/* floating */
.floatingBtn {position: fixed;bottom: 24px;right: 24px;z-index: 99;}
.floatingBtn .flCounsel {display: block;margin-bottom: 16px;width: 56px;height: 56px;border-radius: 50%;font-size: 0;background: url(../images/common/ico_talktalk_white.png) no-repeat center,#00c300;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);background-size: 28px;}
.floatingBtn .utilBox {display: block;height: 58px;border-radius: 32px;border: 1px solid #e8e8e8;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);transition: all 0.3s;line-height: 0;font-size: 0;background-color: #fff;}
.floatingBtn .utilBox .flView {display: block;width: 56px;height: 56px;background: url(../images/common/ico_view.png) no-repeat center, #fff;font-size: 0;border-radius: 50%;background-size: 28px;}
.floatingBtn .utilBox .btnTop {display: none;width: 56px;height: 56px;background: url(../images/common/ico_top.png) no-repeat center, #fff;font-size: 0;border-radius: 50%;background-size: 28px;}
.floatingBtn.on .utilBox {height: 114px;}
.floatingBtn.on .utilBox .btnTop {display: block;}

/* for tablet  */
@media screen and (min-width: 769px) and (max-width:1344px){
    body {min-width: auto !important;}
    .inner {margin:0 auto;padding: 0 1.1905vw;width:100%;height:100%;max-width:100.0000vw;}

    /*** Header ***/
    header .logo {top: 2.9762vw;width: 10.3423vw;height: 2.9018vw;}
    .hd-top {padding: 1.1905vw 0 2.0833vw;}
    .hd-top li a {padding: 0 0.8929vw;font-size: 0.8929vw;line-height: 1.5;}
    .hd-top li a::after {right: 0;top: 50%;transform: translateY(-50%);width: 0.0744vw;height: 0.5952vw;}
    .hd-middle {padding-bottom: 1.8601vw;}
    .hd-middle .bigMenu {margin-left: 10.3423vw;font-size: 0;}
    .hd-middle .bigMenu li {margin-left: 3.5714vw;}
    .hd-middle .bigMenu li a {font-size: 1.4881vw;line-height: 1.2;}
    .hd-middle .bigMenu li .tooltip {bottom: 2.6042vw;left: 50%;padding: 0.5208vw 1.1905vw 0.5208vw 2.9762vw;font-size: 0.8929vw;line-height: 1.5;border-radius: 7.4405vw;border: 0.0744vw solid #d2d1d0;box-shadow: 0 0.2976vw 0.5952vw 0 rgba(0, 0, 0, 0.08);transform: translateX(-50%);white-space: nowrap;background: url(../images/common/ico_saw.png) no-repeat left 1.1905vw center;opacity: 1;animation: 1s linear 3s opacity;background-size: 1.4881vw;}
    .hd-middle .bigMenu li .tooltip::after {left: 50%;bottom: -0.4464vw;width: 0.6696vw;height: 0.6696vw;transform: rotate(45deg);border-width: 0 0.0744vw 0.0744vw 0;}
    
    .hd-middle .util .hdSearch {margin-right: 3.5714vw;width: 23.8095vw;}
    .hd-middle .util .hdSearch input {padding: 0 4.0923vw 0 0.5952vw;width: 100%;height: 3.5714vw;border-width: 0 0 0.1488vw;border-style: solid;border-;font-size: 1.1905vw;}
    .hd-middle .util .hdSearch button {right: 0;top: 0;width: 3.5714vw;height: 3.5714vw;background-size: 2.0833vw;}
    .hd-middle .util .icoUtil {margin-right: 2.3810vw;width: 2.3810vw;height: 2.3810vw;}
    .hd-middle .util .icoMypage {margin-right: 2.3810vw;width: 2.3810vw;height: 2.3810vw;}
    .hd-middle .util .icoCart {width: 2.4554vw;height: 2.4554vw;}
    .hd-middle .util .icoCart em {bottom: 0;right: 0;width: 1.2649vw;font-size: 0.7440vw;border-radius: 50%;background: #ff5442;line-height: 1.2649vw;}
    .hd-bottom {box-shadow: 0 0.1488vw 0.2976vw 0 rgba(0, 0, 0, 0.08);}
    .hd-bottom #gnb .depth1 > li {margin-right: 1.7857vw;}
    .hd-bottom #gnb .depth1 > li > a {padding: 1.1905vw 0.5952vw;font-size: 1.1905vw;line-height: 1.5;}
    .hd-bottom #gnb .depth1 > li > a.btnRullet {padding: 0;width: 1.7857vw;height: 1.7857vw;}
    .hd-bottom #gnb .depth1 > li.on > a::before {bottom: 0;left: 0;right: 0;height: 0.2232vw;background: #1ec68c;}
    .hd-bottom #gnb .depth1 > li.isDepth2 > a {padding: 1.1905vw 1.7857vw 1.1905vw 0.5952vw;}
    .hd-bottom #gnb .depth1 > li.isDepth2 > a::after {right: 0;top: 50%;margin-top: -0.7440vw;width: 1.4881vw;height: 1.4881vw;}
    .isDepth2 .depth2 {box-shadow: 0 0.2976vw 0.5952vw 0 rgba(0, 0, 0, 0.08);}
    .categoryMenu .depth2 {padding: 2.3810vw 0;width: 16.7411vw;}
    .categoryMenu .depth2 > dl ~ dl {margin-top: 2.3810vw;}
    .categoryMenu .depth2 > dl > dt {padding:0 2.3810vw 0.5952vw;font-size: 1.1905vw;line-height: 1.5;}
    .categoryMenu .depth2 > dl > dd {padding: 0.5952vw 2.3810vw;}
    .categoryMenu .depth2 > dl > dd > a {padding-left: 2.3810vw;font-size: 1.0417vw;line-height: 1.4;background-size: 1.4881vw;}
    .categoryMenu dd .depth3 {top: 0;right: -16.7411vw;padding: 5.3571vw 4.8363vw 0 2.3810vw;width: 16.7411vw;height: 100%;transition: all 0.3s;border-left: 0.0744vw solid #f4f4f4;box-shadow: 0.3720vw 0.3720vw 0.5952vw 0 rgba(0, 0, 0, 0.08);}
    .categoryMenu dd .depth3 li ~ li {margin-top: 1.1905vw;}
    .categoryMenu dd .depth3 a {font-size: 1.0417vw;line-height: 1.4;}
    .spaceMenu .depth2 {padding: 2.3810vw;width: 29.1667vw;font-size: 0;}
    .spaceMenu .depth2 strong {font-size: 1.1905vw;line-height: 1.5;}
    .spaceMenu .depth2 li {margin: 1.7857vw 1.7857vw 0 0;width: 4.7619vw;}
    .spaceMenu .depth2 li a {font-size: 1.0417vw;line-height: 1.4;}
    .spaceMenu .depth2 li a::before {margin-bottom: 0.5952vw;width: 4.7619vw;height: 4.7619vw;border-radius: 50%;}

    /*** Footer ***/
    footer .ft-top {padding: 1.6369vw 0;border-top: 0.0744vw solid #e8e8e8;background: #f8f8f8;}
    footer .ft-top dl > * {margin-right: 1.1905vw;font-size: 1.0417vw;line-height: 1.4;}
    footer .ft-top dl > dt {font-size: 1.0417vw;}
    footer .ft-top dl > dd:first-of-type {margin-right: 0.8185vw;}
    footer .ft-top dl > dd > a {padding-left: 2.0089vw;}
    footer .ft-top .util {right: 1.1905vw;top: 50%;transform: translateY(-50%);}
    footer .ft-top .util li a {font-size: 1.0417vw;line-height: 1.4;}
    footer .ft-top .util li ~ li {margin-left: 2.3810vw;}
    footer .ft-bottom {padding: 2.3810vw 0 4.7619vw;font-size: 0;}
    footer .ft-bottom .ft-left {width:16.6667vw;}
    footer .ft-bottom .ft-left .ftLogo {margin-bottom: 1.1905vw;}
    footer .ft-bottom .ft-left span {margin-top: 1.1905vw;font-size: 1.1905vw;line-height: 1.5;}
    footer .ft-bottom .ft-left span strong {font-size: 1.7857vw;letter-spacing: -0.0744vw;}
    footer .ft-bottom .ft-center {width:58.3333vw;}
    footer .ft-bottom .ft-center .infoList {margin-bottom: 1.7857vw;}
    footer .ft-bottom .ft-center .infoList > li a {font-size: 1.1905vw;line-height: 1.5;}
    footer .ft-bottom .ft-center .infoList > li ~ li {margin-left: 2.3810vw;}
    footer .ft-bottom .ft-center .txt {margin-bottom: 1.1905vw;}
    footer .ft-bottom .ft-center .txt dt,
    footer .ft-bottom .ft-center .txt dd {font-size: 1.0417vw;line-height: 1.4;}
    footer .ft-bottom .ft-center .txt dd:first-of-type {margin-right: 0.8929vw;}
    footer .ft-bottom .ft-center address {margin-bottom: 0.8929vw;}
    footer .ft-bottom .ft-center address div > * {line-height: 1.5;font-size: 0.8929vw;}
    footer .ft-bottom .ft-center address div * ~ * {margin-left: 0.8929vw;}
    footer .ft-bottom .ft-center .ulComponent {margin-bottom: 1.1905vw;}
    footer .ft-bottom .ft-center .ulComponent a {font-size: 0.8929vw;line-height: 1.5;}
    footer .ft-bottom .ft-center .copy {font-size: 0.8929vw;line-height: 1.5;}
    footer .ft-bottom .ft-right {width:22.6190vw;}
    footer .ft-bottom .ft-right .qrcode {margin-bottom: 2.3810vw;}
    footer .ft-bottom .ft-right .qrcode > .imgBox {width: 5.2083vw;}
    footer .ft-bottom .ft-right .qrcode > .imgBox img {width: 100%;}
    footer .ft-bottom .ft-right .qrcode > .txtBox {padding-left: 1.7857vw;width: 17.4107vw;}
    footer .ft-bottom .ft-right .qrcode > .txtBox a {margin-bottom: 0.5952vw;font-size: 1.1905vw;line-height: 1.5;}
    footer .ft-bottom .ft-right .qrcode > .txtBox span {font-size: 1.0417vw;line-height: 1.4;}
    .snsList > li ~ li {margin-left: 1.1905vw;}
    .snsList > li a {width: 2.9762vw;height: 2.9762vw;border-radius: 50%;border: 0.0744vw solid #e8e8e8;font-size: 0;background-size: 2.0833vw;}

    /* floating */
    .floatingBtn {bottom: 1.7857vw;right: 1.7857vw;}
    .floatingBtn .flCounsel {margin-bottom: 1.1905vw;width: 4.1667vw;height: 4.1667vw;box-shadow: 0 0.2976vw 0.5952vw 0 rgba(0, 0, 0, 0.08);background-size: 2.0833vw;}
    .floatingBtn .utilBox {height: 4.3155vw;border-radius: 2.3810vw;border: 0.0744vw solid #e8e8e8;box-shadow: 0 0.2976vw 0.5952vw 0 rgba(0, 0, 0, 0.08);}
    .floatingBtn .utilBox .flView {width: 4.1667vw;height: 4.1667vw;background-size: 2.0833vw;}
    .floatingBtn .utilBox .btnTop {width: 4.1667vw;height: 4.1667vw;background-size: 2.0833vw;}
    .floatingBtn.on .utilBox {height: 8.4821vw;}
}

/* for mobile  */
@media screen and (max-width: 768px){
    body {min-width: auto !important;}
    .inner {padding: 0 20px;max-width: none;}
    .pc-el {display: none !important;}
    .mo-el {display: block !important;}

    #wrap {overflow: hidden;}
    header .logo {top: 12px;width: 88px;height: 24px;}
    .hd-top {padding: 0;}
    .hd-top ul,
    .hd-middle .bigMenu,
    .hd-middle .util .hdSearch,
    .hd-middle .util .icoUtil,
    .hd-middle .util .icoMypage {display: none;}
    .hd-middle {padding-bottom: 0;height: 48px;text-align: right;}
    .hd-middle .util {right: 20px;}
    .hd-middle .util .icoCart {width: 24px;height: 24px;}
    .hd-middle .util .icoCart em {width: 12px;line-height: 12px;}
    .hd-bottom {overflow: hidden;}
    .hd-bottom #gnb .depth1 > li > a,
    .hd-bottom #gnb .depth1 .slick-slide > a {padding: 12px 8px;color: #8e8c8a;}
    .hd-bottom #gnb .depth1 > li.on > a,
    .hd-bottom #gnb .depth1 .slick-slide.on > a {color: #00b076;}

    .floatingBtn .flCounsel {display: none;}
    .floatingBtn .utilBox {background: none;border: none;box-shadow: none;}
    .floatingBtn .utilBox .flView {width: 40px;height: 40px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);background-size: 24px;}
    .floatingBtn.on .utilBox .btnTop {margin-top: 8px;width: 40px;height: 40px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);background-size: 24px;}
}

@media screen and (max-width: 360px){
    .inner {padding: 0 5.5556vw;max-width: none;}

    header .logo {top: 3.3333vw;width: 24.4444vw;height: 6.6667vw;}
    .hd-middle {padding-bottom: 0;height: 13.3333vw;text-align: right;}
    .hd-middle .util {right: 5.5556vw;}
    .hd-middle .util .icoCart {width: 6.6667vw;height: 6.6667vw;}
    .hd-middle .util .icoCart em {width: 3.3333vw;line-height: 3.3333vw;}
    .hd-bottom #gnb .depth1 > li > a,
    .hd-bottom #gnb .depth1 .slick-slide > a {padding: 3.3333vw 2.2222vw;color: #8e8c8a;}

    .floatingBtn .utilBox .flView {width: 11.1111vw;height: 11.1111vw;box-shadow: 0 0.5556vw 1.1111vw 0 rgba(0, 0, 0, 0.08);background-size: 6.6667vw;}
    .floatingBtn.on .utilBox .btnTop {margin-top: 2.2222vw;width: 11.1111vw;height: 11.1111vw;box-shadow: 0 0.5556vw 1.1111vw 0 rgba(0, 0, 0, 0.08);background-size: 6.6667vw;}
}