/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: _main.scss
* @Description : 메인 scss
* @Create Date: 2022-03-11
* @Update Date: 2022-03-16
* @History: N/A
* ================================================================================= */

// search
#search {
    .font {
        &-heading03 {
            display: inline-block;

            button {
                display: inline-block;
                top: -1rem;
                margin-left: 4rem;
                padding: 0.8rem 1.4rem 0.7rem 2rem;

                .ico-more-white {
                    position: relative;
                    bottom: .1rem;
                    margin-left: .6rem;
                }
            }
        }

        &-heading05 {
            margin-bottom: 2.6rem;
        }
    }

    .page-layout-header {
        .inner-wrap.box-title {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        .box-search-word {
            position: relative;
            display: flex;
            align-items: center;

            h5 {
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 1.2;
            }

            .search-word {
                &-list {
                    margin-left: 3rem;
                    height: 27px;
                    overflow: hidden;
                    position: relative;
                    z-index: 1;
                    overflow: visible !important;

                    &:hover .search-word {
                        text-decoration: underline;
                    }

                    li {
                        position: relative;
                        width: 24rem;
                        height: 100%;
                        font-weight: 400;
                        line-height: 1.5;

                        a {
                            display: flex;
                            align-items: center;
                            height: 100%;
                            font-size: 1.8rem;

                            span:last-of-type {
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }

                }

                &-rank {
                    display: inline-block;
                    min-width: 2rem;
                    margin-right: 2rem;
                    color: $red;
                    font-weight: 700;
                }
            }

            .ico-black-arr-down {
                cursor: pointer;
                margin-left: 1.5rem;
            }


            .rolling-wrap {
                height: 27px;
                overflow: hidden;
            }

            .list-popular-wrap {
                position: absolute;
                top: -4rem;
                left: -1.2rem;
                z-index: 3;
                transition: all .3s;
                opacity: 0;
                visibility: hidden;
                box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
                padding-bottom: 3.85rem;

                &.show {
                    opacity: 1;
                    visibility: visible;
                }

                .list {

                    &-header {
                        margin-bottom: 3rem;

                        .list-time::before {
                            top: .2rem;
                        }
                    }

                    &-popular {

                        .popular {
                            &-lank {
                                font-size: 1.8rem;
                            }

                            &-keyword {
                                font-size: 1.8rem;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
        .tab-wrap .tab-list-line{
            border-bottom: 0;
        }
    }

    .page-layout-contents {
        padding-top: 4rem;

        .inner-wrap:first-of-type {
            >div {
                &:first-of-type {
                    margin-top: 0;
                }
            }
        }
        .result-txt{
            font-weight: 500;
            .search-num{
                font-weight: 700;
            }
        }
    }

    .page-layout-contents.search-tab {
        .inner-wrap {
            padding-top: 9rem;
        }
    }

    .inner-wrap {
        > div {
            margin-top: 11rem;
            padding-bottom: 1rem;

        }
        .box-activity-rank {
            margin-top: 2rem;
        }

        .subject-list {
            margin-top: 3rem;
            padding-bottom: 0;
        }

        .text-result {
            font-weight: 700;
            color: $black;
            & ~ span {
                font-weight: 500;
                color: #aaa;
            }
        }
    }

    .outer-wrap {
        margin-top: 11rem;
        padding: 9rem 0 12rem;
    }

    .chips-wrap {
        .font-heading05 {
            width: 100%;
            margin-bottom: 1.9rem;
        }

        .chip-list {
            flex-wrap: wrap;
            width: 100%;
            max-width: 109rem;

            li {
                margin: 1.5rem 1.2rem 0 0;
            }
        }
    }

    .box {
        &-thumb-list {
            .box-thumb-card {
                width: calc((100% - 9rem)/ 3);
                a {
                    .box-bg {
                        z-index: 0;
                    }
                }
            }
        }

        &-my-dashboard {
            margin-top: 0;
        }

        &-activity-rank {
            margin-top: 2rem;
            padding-bottom: 7rem;
        }

        &-challenge {
            position: relative;

            .challenge {
                &-count {
                    display: inline-block;
                    margin-left: 1rem;
                    color: #aaa;
                    font-size: 3.2rem;
                }

                &-more {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    color: #444;
                    font-size: 1.8rem;
                    line-height: 1.2;

                    .ico-more {
                        position: relative;
                        bottom: .1rem;
                        margin-left: .4rem;
                    }
                }
            }

            

            &-banner {
                display: flex;
                justify-content: space-between;

                a {
                    display: block;

                    &:last-child {
                        margin-left: 3rem;
                    }
                }
            }

            &-noresult {
                >h3 {
                    margin-bottom: 8rem;
                    text-align: left;
                }
            }
        }

        &-noresult.result-none {
            height: 26rem;
            .box-lottie-img{
                width: 9.6rem;
                height: 9.6rem;
                margin: 0 auto;
                .ico-coffee-cup {
                    width: 9.6rem;
                    height: 9.6rem;
                }
            }
        }

        &-lottie {
            margin: 0 auto 4rem;

        }


    }
    .font-heading05 {
        margin-bottom: 2rem;

        .challenge {
            &-count {
                display: inline-block;
                margin-left: 1rem;
                color: #aaa;
                font-size: 3.2rem;
            }
        }
    }

    .font-card-tit04 {
        padding-bottom: 7rem;
        color: #999;
    }

    .list-sort {
        position: absolute;
        right: 0;
        top: 0;
    }
}
#search.search-result {
    .page-layout-header {
        padding-bottom: 0;
        .inner-wrap {
            .box-noresult {
                margin-top: 0;
            }
        }
    }

    .page-layout-contents {
        padding-top: 3rem;

    }

    .box {
        &-challenge {
            margin-top: 12rem;
            padding-bottom: 0;
        }

        &-txt-wrap.search-community {
            display: flex;

        }

        &-txt-card {
            position: relative;
            flex: 0 1 auto;
            width: calc((100% - 9rem)/ 4);
            height: 42.8rem;
            margin-right: 3rem;
            border-radius: 4rem 1rem;
            overflow: hidden;
            box-shadow: 0 0.8rem 2rem rgb(0 0 0 / 5%);

            &:last-child {
                margin-right: 0;
            }

        }

        &-contents-wrap {
            padding-bottom: 0;
        }

        &-text-card-list {
            display: flex;
            flex-wrap: wrap;

            >li {
                &:nth-of-type(4n) {
                    margin-right: 0;
                }

                &:nth-of-type(n+5) {
                    margin-top: 3rem;
                }
            }

            .box-txt-card {
                width: calc((100% - 9rem) /4);
            }
        }

    }

    .list-recommend {
        margin-top: 0;

        .recommend-item {
            border-radius: 4rem 1rem;
            background-color: #fff;
            border: 0;
            box-shadow: 0 0.8rem 2rem rgb(0 0 0 / 5%);
        }
    }

}