@charset "UTF-8";

// ---------------------------------------------------------------
// Helpers
// ---------------------------------------------------------------

.pcView {
    display: block !important;
}
.moView {
    display: none !important;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}

.overflow-auto {
    overflow: auto;
}
.overflow-y {
    overflow-y: auto;
}
.overflow-x {
    overflow-x: auto;
}
.overflow-hidden {
    overflow: hidden;
}

.d-none {
    display: none;
}
.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}

.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-align-center {
    align-items: center;
}
.flex-align-end {
    align-items: flex-end;
}
.flex-justify-end {
    justify-content: flex-end;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-column {
    flex-direction: column;
}

.ml-auto,
.mx-auto {
    margin-left: auto;
}
.mr-auto,
.mx-auto {
    margin-right: auto;
}

.m0 {
    margin: 0px;
}

.ml0 {
    margin-left: 0px;
}
.ml10 {
    margin-left: 10px;
}
.ml20 {
    margin-left: 20px;
}

.mr0 {
    margin-right: 0px;
}
.mr10 {
    margin-right: 10px;
}
.mr20 {
    margin-right: 20px;
}

.mt0 {
    margin-top: 0;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}

.mb0 {
    margin-bottom: 0px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}

.p0 {
    padding: 0px;
}

.pl0 {
    padding-left: 0px;
}
.pl10 {
    padding-left: 10px;
}
.pl20 {
    padding-left: 20px;
}

.pr0 {
    padding-right: 0px;
}
.pr10 {
    padding-right: 10px;
}
.pr20 {
    padding-right: 20px;
}

.pt0 {
    padding-top: 0;
}
.pt10 {
    padding-top: 10px;
}
.pt20 {
    padding-top: 20px;
}

.pb0 {
    padding-bottom: 0px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb20 {
    padding-bottom: 20px;
}

.w-20 {
    width: 20%;
}
.w-25 {
    width: 25%;
}
.w-30 {
    width: 30%;
}
.w-33 {
    width: 33%;
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.w-100 {
    width: 100%;
}
.w-auto {
    width: auto;
}

.h-25 {
    height: 25%;
}
.h-50 {
    height: 50%;
}
.h-75 {
    height: 75%;
}
.h-100 {
    height: 100%;
}
.h-auto {
    height: auto;
}

.w50 {
    width: 50px;
}
.w100 {
    width: 100px;
}
.w150 {
    width: 150px;
}
.w200 {
    width: 200px;
}

.h0 {
    height: 0px;
}
.h100 {
    height: 100px;
}

.vw-100 {
    width: 100vw;
}
.vh-100 {
    height: 100vh;
}
.vw-100-min {
    min-width: 100vw;
}
.vh-100-min {
    min-height: 100vh;
}

.borderLeft {
    border-left: 1px solid #ccc !important;
}
.borderRight {
    border-right: 1px solid #ccc !important;
}
.brn {
    border-right: 0 !important;
}
.hidden {
    @include hidden;
}


@include mq('mobile') {
    .pcView {
        display: none !important;
    }
    .moView {
        display: block !important;
    }
}