@charset "utf-8";

#wrap {position:relative;margin:0 auto;width:100%;height:100%;text-shadow: 0 0 10px rgb(255 255 255 / 16%);}
.inner {position: relative;margin:0 auto;width:100%;height:100%;max-width: 1334px;padding: 240px 0;}
#gnb {display: none;position: fixed;top: 0;right: 0;height: 100vh;z-index: 999;cursor: pointer;}

/*** Header ***/
header {position: fixed;left: 0;top: 0;width: 100%;z-index: 100;}
header .logo {display: inline-block;margin: 58px 76px;}
header .logo a {width: 109px;height: 42px;}
header .logo a img {width: 100%;}
header .logo a img.active01, header.index01 .logo a img {display: none;}
header.index01 .logo a img.active01 {display: inline-block;}
header.index01 .btnMenu {border-color: #000;}
header.index01 .btnMenu::before {background-color: #000;}
header .btnMenu {position: absolute;right: 62px;top: 50%;transform: translateY(-50%);width: 47px;height: 27px;border-width: 2px 0 2px;border-style: solid;border-color: #fff;font-size: 0;}
header .btnMenu::before {content: '';position: absolute;left: 0;top: 50%;transform: translateY(-50%);width: 100%;height: 2px;background-color: #fff;;}

/*** Contents ***/
#contents {padding: 140px 0 190px;}

/*** Footer ***/
footer {position: fixed;left: 0;bottom: 0;width: 100%;height: 800px;opacity: 0;z-index: -1;background: url(../images/common/bg_footer.png) no-repeat bottom center,#fff;}
footer strong {position: absolute;bottom: 200px;font-size: 48px;font-weight: 400;line-height: 1.5;letter-spacing: -2px;color: #fff;opacity: 0;transition: all 0.5s;transition-delay: 0.8s;}
footer.ani strong {opacity: 0.8;}

/* for tablet  */
@media screen and (min-width: 769px) and (max-width:1344px) {
    
}

/* for mobile  */
@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 360px) {
    
}

