@charset "utf-8";

#wrap {position:relative;margin:0 auto;width:100%;height:100%;}
.inner {position: relative;width:100%;height:100%;max-width:1340px;margin:0 auto;}
.subTit {position: relative;margin-bottom: 100px;}
.subTit .tit {font-size: 72px;font-weight: 600;line-height: 1.25;}
.subTit .right {position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.subTit .right .txtDown {padding-left: 35px;font-size: 18px;background: url(../images/common/ico_download_black.png) no-repeat left center;background-size: 28px;}
.subTit .right .txtDown:hover {text-decoration: underline;}
.subTit .right .txtDown ~ .txtDown {margin-left:30px;}
.mo-el {display: none !important;}

/*** Header ***/
header.is-hover {background: #000;}
header.fixed {position: fixed;background-color: #fff;border-bottom: 1px solid #111;}
header.fixed .logo .off {display: none;}
header.fixed .logo .on {display: block;}
header.fixed .mo-menu {border-color: #111;}
header.fixed .mo-menu::before {background-color: #111;}
header {position: absolute;left: 0;top: 0;width: 100%;transition: all 0.3s;z-index:100;}
header > .inner {display: table;position:static;height: 90px;table-layout: fixed;}
header > .inner > * {display: table-cell;vertical-align: middle;}
header .logo {display:table-cell;width:86px;height:37px;vertical-align:middle;}
header .logo a {display: block;}
header .logo a .on {display: none;}
header #gnb {display:table-cell;vertical-align: middle;}
header #gnb > ul {text-align: center;}
header #gnb > ul > li {display: inline-block;vertical-align: middle;}
header #gnb > ul > li > a {position:relative;padding:0 56px;font-size: 18px;color: #fff;line-height: 90px;}
header #gnb > ul > li > a::after {content: '';position: absolute;bottom:0;left:50%;transform: translateX(-50%);width: 0;height: 2px;background-color: #fff;transition: all 0.2s;}
header #gnb > ul > li.on > a::after {width: 60%;}
header #gnb .gnb_2dep {display: none;position: absolute;top: 90px;left: 0;padding:44px 0;width: 100%;z-index: 1;background-color: #000;text-align: center;border-top: 1px solid #666;}
header #gnb .gnb_2dep li {display: inline-block;margin-right:48px;}
header #gnb .gnb_2dep li a {font-size: 16px;color: #fff;line-height: 1.5;}
header #gnb .gnb_2dep li a:hover {font-weight: 600;}
.langBox {position: relative;width: 100px;text-align: center;overflow: hidden;}
.langBox input[type="radio"] {position: absolute;left:-9999px;width: 0;height: 0;}
.langBox input[type="radio"]:checked + label,
.langBox label:hover {color: #fff;}
.langBox label {display:inline-block;position: relative;font-size: 18px;font-weight: 600;font-family: 'Lato';color: #999;line-height: 27px;}
.langBox label:first-of-type {margin-right: 38px;}
.langBox label:first-of-type::before {content: '';position: absolute;right: -27px;top: 50%;transform: translateY(-50%);width:14px;height:2px;background-color: #fff;border-radius: 5px;}
.langBox label:first-of-type::after {content: '';position: absolute;right: -30px;top: 50%;transform: translateY(-50%);width:4px;height:4px;border-radius: 50%;background-color: #fff;transition: all 0.3s;}
.langBox input[type="radio"]:checked + label:first-of-type::after {right: -16px;}
header .mo-menu {position: absolute;top: 50%;right: 20px;transform: translateY(-50%);width: 18px;height: 14px;font-size: 0;border-width: 2px 0 2px;border-style: solid;border-color: #fff;}
header .mo-menu::before {content: '';position: absolute;top: 50%;right: 0;transform: translateY(-50%);width: 12px;height: 2px;background-color: #fff;}
.mo-gnb {display: none;position: fixed;left: 0;right: 0;top: 0;bottom: 0;background-color: #000;z-index: 999;}
.mo-gnb-header {position: absolute;top: 0;left: 0;right: 0;padding: 15px 20px 17px;border-bottom: 1px solid #666;background-color: #000;z-index: 1;}
.btnClose {position: absolute;right: 20px;top: 50%;transform: translateY(-50%);width: 40px;height: 40px;}
.btnClose::before,
.btnClose::after {content: '';position: absolute;left: 0;right: 0;top: 50%;margin-top: -1px;height: 2px;background-color: #fff;font-size: 0;}
.btnClose::before {transform: rotate(45deg);}
.btnClose::after {transform: rotate(-45deg);}
.mo-gnb-contents {padding: 108px 20px;height: 100%;overflow-y: auto;}
.mo-depth1 > li ~ li {margin-top: 24px;}
.mo-depth1 > li > a {display: block;position: relative;padding-right: 64px;font-size: 40px;font-weight: 700;font-family: 'Lato';line-height: 1.2;color: #fff;}
.mo-depth1 > li > a::before {content: '';position: absolute;right: 32px;top: 50%;transform: translateY(-50%);width: 1px;height: 18px;background-color: #fff;}
.mo-depth1 > li > a::after {content: '';position: absolute;right: 23px;top: 50%;transform: translateY(-50%);width: 18px;height: 1px;background-color: #fff;}
.mo-depth1 > li.on > a::before {display: none;}
.mo-depth1 > li:first-of-type .mo-depth2 {display: block;}
.mo-depth2 {display: none;margin-top: 9px;}
.mo-depth2 a {font-size: 16px;line-height: 2.4;color: #fff;}

/*** Contents ***/
#contents {padding: 140px 0 190px;}

/*** Footer ***/
footer {position: relative;padding: 70px 0;background: #000;font-size: 0;}
.btnTop {display: inline-block;position: absolute;right: 40px;top: -32px;width: 64px;height: 64px;border-radius: 50%;background: url(../images/common/ico_btnTop.png) no-repeat center;background-size: 100%;font-size: 0;}
footer .inner > * {display: inline-block;vertical-align: top;}
footer .txtBox {padding-right: 30px;width: 82%;}
footer .txtBox > * {color: #fff;font-size: 18px;font-weight: 600;line-height: 1.5;}
footer .txtBox > .tel {margin: 12px 0;}
footer .txtBox > .copy {display: block;margin-top: 36px;color: #666;font-size: 14px;font-weight: 400;}
footer .selBox {position:relative;width: 18%;}
footer .selBox .selTxt {display: block;position: relative;padding: 0 15px 0 0 ;width: 100%;line-height:50px;border-width: 0 0 1px 0;border-style: solid;border-color: #999;font-size: 16px;color: #999;cursor: pointer;background: transparent;text-align: left;z-index: 1;}
footer .selBox .selTxt::after {content: '';position:absolute;right:0;top:50%;transform: rotate(180deg);margin-top:-3px;width: 8px;height: 6px;background: url(../images/common/ico_selectArrow_gray.png) no-repeat center;background-size: 100%;transition: all 0.3s;}
footer .selBox .selList {position: absolute;bottom: 0;left: 0;padding: 8px 0;width: 100%;background: #333;transition: all 0.3s;z-index: -1;opacity: 0;visibility: hidden;}
footer .selBox .selList a {display: block;padding:0 24px;font-size: 16px;color: #fff;line-height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;background: #333;}
footer .selBox .selList a:hover {background: #111;}
footer .selBox.on .selList {bottom: 51px;opacity: 1;z-index: 0;visibility: visible;}
footer .selBox.on .selTxt::after {transform: rotate(0);}

/* for tablet  */
@media screen and (min-width: 769px) and (max-width:1344px) {
    body {min-width: auto !important;}
    .inner {padding: 0 20px;}
    .subTit {margin-bottom: 7.4627vw;}
    .subTit .tit {font-size: 5.3731vw;line-height: 1.25;}
    .subTit .right .txtDown {padding-left: 2.6119vw;font-size: 1.3433vw;background-size: 2.0896vw;}
    .subTit .right .txtDown ~ .txtDown {margin-left:2.2388vw;}

    /*** Header ***/
    header > .inner {height: 6.7164vw;}
    header .logo {width:6.4179vw;height:2.7612vw;}
    header #gnb > ul > li > a {padding:0 4.1791vw;font-size: 1.3433vw;line-height: 6.7164vw;}
    header #gnb > ul > li > a::after {height: 0.1493vw;}
    header #gnb .gnb_2dep {top: 6.7164vw;left: 0;padding:3.2836vw 0;width: 100%;border-top: 0.0746vw solid #666;}
    header #gnb .gnb_2dep li {margin-right:3.5821vw;}
    header #gnb .gnb_2dep li a {font-size: 1.1940vw;line-height: 1.5;}
    header .langBox {width: 7.4627vw;}
    header .langBox input[type="radio"] {left:-746.1940vw;width: 0;height: 0;}
    header .langBox label {font-size: 1.3433vw;line-height: 2.0149vw;}
    header .langBox label:first-of-type {margin-right: 2.8358vw;}
    header .langBox label:first-of-type::before {right: -2.0149vw;top: 50%;transform: translateY(-50%);width:1.0448vw;height:0.1493vw;border-radius: 0.3731vw;}
    header .langBox label:first-of-type::after {right: -2.2388vw;top: 50%;transform: translateY(-50%);width:0.2985vw;height:0.2985vw;border-radius: 50%;transition: all 0.3s;}
    header .langBox input[type="radio"]:checked + label:first-of-type::after {right: -1.1940vw;}

    /*** Contents ***/
    #contents {padding: 10.4478vw 0 14.1791vw;}

    /*** Footer ***/
    footer {padding: 5.2239vw 0;background: #000;font-size: 0;}
    .btnTop {right: 2.9851vw;top: -2.3881vw;width: 4.7761vw;height: 4.7761vw;}
    footer .txtBox {padding-right: 2.2388vw;}
    footer .txtBox > * {font-size: 1.3433vw;line-height: 1.5;}
    footer .txtBox > .tel {margin: 0.8955vw 0;}
    footer .txtBox > .copy {margin-top: 2.6866vw;font-size: 1.0448vw;}
    footer .selBox .selTxt {padding: 0 1.1194vw 0 0 ;width: 100%;line-height:3.7313vw;border-width: 0 0 0.0746vw 0;font-size: 1.1940vw;cursor: pointer;background: transparent;}
    footer .selBox .selTxt::after {right:0;top:50%;transform: rotate(180deg);margin-top:-0.2239vw;width: 0.5970vw;height: 0.4478vw;}
    footer .selBox .selList {padding: 0.5970vw 0;}
    footer .selBox .selList a {padding:0 1.7910vw;font-size: 1.1940vw;line-height: 2.9851vw;}
    footer .selBox.on .selList {bottom: 3.8060vw;opacity: 1;visibility: visible;}
}

/* for mobile  */
@media screen and (max-width: 768px) {
    body {min-width: auto !important;}
    .inner {padding: 0 20px;max-width: none;}
    .pc-el {display: none !important;}
    .mo-el {display: block !important;}

    header > .inner {padding: 18px 20px;height: auto;}
    header .logo {display: inline-block;width: 59px;height: 25px;line-height: 0;}
    
    #contents {padding: 50px 0 104px;}

    .subTit .tit {margin-bottom: 50px;font-size: 32px;line-height: 1.5;}
    .subTit .right {position: relative;top: 0;transform: none;}
    .subTit .right .txtDown ~ .txtDown {margin: 45px 0 0 0;}
    .subTit .right .txtDown {padding-left: 48px;background-size: 36px;}

    footer {padding: 48px 0 40px;}
    footer .txtBox {padding: 0 0 56px 0;width: 100%;}
    footer .txtBox > * {font-size: 16px;}
    footer .txtBox > .tel {margin: 16px 0;}
    footer .selBox {width: 246px;}
}

@media screen and (max-width: 360px) {
    .inner {padding: 0 5.5556vw;}

    header > .inner {padding: 5.0000vw 5.5556vw;}
    header .logo {display: inline-block;width: 16.3889vw;height: 6.9444vw;line-height: 0;}
    header .mo-menu {right: 5.5556vw;width: 5.0000vw;height: 3.8889vw;border-width: 0.5556vw 0 0.5556vw;}
    header .mo-menu::before {width: 3.3333vw;height: 0.5556vw;}
    .mo-gnb-header {padding: 4.1667vw 5.5556vw 4.7222vw;border-bottom: 0.2778vw solid #666;}
    .btnClose {right: 5.5556vw;width: 11.1111vw;height: 11.1111vw;}
    .btnClose::before,
    .btnClose::after {margin-top: -0.2778vw;height: 0.5556vw;}
    .mo-gnb-contents {padding: 30.0000vw 5.5556vw;}
    .mo-depth1 > li ~ li {margin-top: 6.6667vw;}
    .mo-depth1 > li > a {padding-right: 17.7778vw;font-size: 11.1111vw;}
    .mo-depth1 > li > a::before {right: 8.8889vw;width: 0.2778vw;height: 5.0000vw;}
    .mo-depth1 > li > a::after {right: 6.3889vw;width: 5.0000vw;height: 0.2778vw;}
    .mo-depth2 {margin-top: 2.5000vw;}
    .mo-depth2 a {font-size: 4.4444vw;}
    
    #contents {padding: 13.8889vw 0 28.8889vw;}

    .subTit .tit {margin-bottom: 13.8889vw;font-size: 8.8889vw;line-height: 1.5;}
    .subTit .right .txtDown ~ .txtDown {margin: 12.5000vw 0 0 0;}
    .subTit .right .txtDown {padding-left: 13.3333vw;background-size: 10.0000vw;}

    footer {padding: 13.3333vw 0 11.1111vw;}
    footer .txtBox {padding: 0 0 15.5556vw 0;width: 100%;}
    footer .txtBox > * {font-size: 4.4444vw;}
    footer .txtBox > .tel {margin: 4.4444vw 0;}
    footer .selBox {width: 68.3333vw;}
}

