@charset "utf-8";

#wrap {position:relative;margin:0 auto;width:100%;height:100%;}
.inner {position: relative;width:100%;height:100%;margin:0 auto;padding: 240px 0 0 292px;}
.gridSet {display: table;table-layout: fixed;width: 100%;}
.gridSet > * {display: table-cell;vertical-align: top;}
.gridSet dt {width: 40%;}
.gridSet dt sup {display: block;margin-bottom: 34px;font-size: 24px;font-weight: 200;}
.gridSet dt strong {font-size: 80px;font-weight: 600;}
.gridSet dd .txt01 {font-size: 64px;font-weight: 200;letter-spacing: -2px;line-height: 1.4;}
.gridSet dd .txt02 {display: block;margin-top: 24px;font-size: 24px;font-weight: 500;}

/*** Header ***/
header {position: fixed;left: 0;top: 0;width: 100%;z-index: 100;}
header .logo {display: inline-block;margin: 58px 76px;}
header .logo a {width: 109px;height: 42px;}
header .logo a img {width: 100%;}
header .logo a img.active01, header.index01 .logo a img {display: none;}
header.index01 .logo a img.active01 {display: inline-block;}
header.index01 .btnMenu {border-color: #000;}
header.index01 .btnMenu::before {background-color: #000;}
header .btnMenu {position: absolute;right: 62px;top: 50%;transform: translateY(-50%);width: 47px;height: 27px;border-width: 2px 0 2px;border-style: solid;border-color: #fff;font-size: 0;}
header .btnMenu::before {content: '';position: absolute;left: 0;top: 50%;transform: translateY(-50%);width: 100%;height: 2px;background-color: #fff;;}

/*** Contents ***/
#contents {padding: 140px 0 190px;}

/*** Footer ***/

/* for tablet  */
@media screen and (min-width: 769px) and (max-width:1344px) {
    
}

/* for mobile  */
@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 360px) {
    
}

