/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: _event.scss
* @Description : 이벤트 scss
* @Create Date: 2022-03-24
* @Update Date: N/A
* @History: N/A
* ================================================================================= */
// 이벤트 메인
.event-main {
    #event {
        .page-layout-contents {
            .box-layout-contents.ty02 {
                & ~ .box-layout-contents.ty02 {margin-top: 10rem;}
                background-color: transparent;
                .tab-wrap {
                    .tab-list {
                        padding: 1.6rem 2rem;
                        border-bottom: 1.6rem solid #faf9f9;
                    }
                    .tab-content {padding-top: 0;}
                }
            }
        }
    }
    .box-noresult {
        padding: 9rem 0 0;
    }
}

// 챌린지
#event.challenge {
    .box-noresult {
        padding: 6rem 0 4rem;
    }
    .layout-detail-view{
        display: flex;
        font-family: 'CERAGEMWell';
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        margin: 0 2rem;
        padding: 4rem 2rem;
        border-radius: 1rem;
        & ~ .layout-detail-view{
            margin-top: 1.2rem;
        }
        .font-card-tit01{
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        .btn-large{
            width: 100%;
        }
    }
    .box-event{
        position: relative;
        padding: 7rem 0 8rem;
        .box-img{
            padding: 0 2rem;
            margin-bottom: 4rem;
            img {width: 100%;image-rendering: -webkit-optimize-contrast;}
        }
        .ico-share-white {
            position: absolute;
            top: 7rem;
            right: 3rem;
        }
    }
    .box-number-wrap{
        display: flex;
        justify-content: space-evenly;
        margin: 4rem 0 3rem;
        width: 100%;
        .num-tit{
            font-size: 1.4rem;
            color: #444;
            & + div{
                font-size: 1.4rem;
                color: #999;
            }
        }
        strong{
            font-weight: 700;
            font-size: 3.6rem;
            color: #000;
            margin-right: 0.4rem;
        }
        & > div{text-align: center;}
    }
    .box-stamp{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.4rem;
        margin-top: 3rem;
        .stamp-list{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8.4rem;
            height: 8.4rem;
            border-radius: 50%;
            border: 1px dashed #E5E5E5;
            span{
                @include venderPrefix('transform',translate(-50%,-50%));
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                font-family: 'CERAGEMWell';
                font-weight: 700;
                font-size: 2rem;
                line-height: 1.25;
                color: #aaa;
            }
            &::after{
                @include venderPrefix('transform',translate(-50%,-50%));
                content: '';
                display: block;
                position: absolute;
                z-index: 0;
                top: 50%;
                left: 50%;
                width: 90%;
                height: 90%;
                border-radius: 50%;
                background: #F1F1F1;
            }
            &.complete {
                &::before{
                    position: absolute;
                    z-index: 2;
                    @include backgroundImg('../images/common/stamp.svg', center, contain);
                    content: '';
                    display: block;
                    width: 8.4rem;
                    height: 8.4rem;
                }
            }
        }
    }
    .font-heading02{
        position: relative;
        font-family: 'CERAGEMWell';
        font-size: 3rem;
        margin: 8rem 3rem 2rem;
        color: #fff;
    }
    .block-list{
        position: relative;
        width: 100%;
        padding: 0 3rem;
        font-size: 0;
        li{
            display: flex;
            padding: 2rem 1.2rem;
            background-color: #fff;
            border-radius: 1rem;
            font-family: 'CERAGEMWell';
            font-size: 1.6rem;
            line-height: 1.6;
            color: #4D6AD6;
            &:nth-of-type(n+2){margin-top: 1.5rem;}
            .list-num{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 2rem;
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                border-radius: 50%;
                background-color: #203689;
                font-weight: 700;
                font-size: 1rem;
                color: #fff;
                margin: 0 1rem 0 0;
            }
            strong{
                color: #203689;
                font-weight: 700;
                font-size: 1.6rem;
            }
        }
    }
    .box-layout-contents.ty02,
    .box-layout-contents.ty03 {
        background-color: transparent;
    }
}

